#seb {
    color: white;
    font-size: max(.8rem,2.3vw);    
}
p {  
/*    background: rgb(2,0,36);
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,17,16,1) 55%, rgba(0,212,255,1) 100%);
*/    background-color: transparent;
   /* -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;*/
}
iframe {
    float: left;
    position: relative;
    width: max(4rem,26vw);
    height: max(4rem,26vw);
    margin-left: 1rem;
    margin-top: -1vw;
    margin-right: 1rem;
    border-radius: 100%;
    shape-outside: margin-box;
    transition: width 1s, height 1s;
    filter: drop-shadow(3px 3px 3px black);
}

@media not all and (pointer: coarse) {
iframe:hover {
    width: max(8rem, 50vw);
    height: max(8rem, 50vw);
}
}

div {
text-align:center;
width:fit-content;
height:fit-content;
}
   
