div {
display:block;
position: absolute;
top:0;bottom:0;left:0;right:0;
margin:auto;
height:fit-content;
width:fit-content;
text-align:center;
font-weight:bold;
font-size: max(.7rem,5.5vw);
color:white;
//background-color:yellow;
}