@inject MyEvents myEvents

<div style="background:@colorday;border-color:@borderColor">
    @if (Selected ?? false || UnSelectable is not null)
    {
        <span style="color: @fontDaycolor">@DateTime.Day</span>
    }
</div>

@code {


    [Parameter]
    public DateTime DateTime { get; set; }
    [Parameter]
    public EventCallback<DateTime> DateTimeChanged { get; set; }
    [Parameter]
    public bool? UnSelectable { get; set; }
    [Parameter]
    public EventCallback<bool?> UnSelectableChanged { get; set; }
    [Parameter]
    public bool? Selected { get; set; }
    [Parameter]
    public EventCallback<bool?> SelectedChanged { get; set; }
    [Parameter]
    public bool?[]? Seasons { get; set; }
    [Parameter]
    public EventCallback<bool?[]> SeasonsChanged { get; set; }

    string? colorday;
    string? borderColor;
    string? fontDaycolor;
    bool livretFirstRender = true;

    protected override void OnParametersSet()
    {
        colorday = "mediumspringgreen;";// "mediumspringgreen";
        borderColor = "rgba(0, 0, 0, .2);";//"mediumspringgreen";
        fontDaycolor = "white;";

        if (myEvents.Livret is not null || !livretFirstRender)
        {
            livretFirstRender = true;

            if (Selected ?? false)
            {
                colorday = "gold;";//"#0081CF";                               // Selectionné
                borderColor = "rgba(0, 0, 0, .2);";// "#0081CF";
            }
            else
            {
                if (Seasons is not null)
                {
                    if (Seasons[0] is true)
                        colorday = "violet";

                    if (Seasons[1] is true)
                        colorday = "darkmagenta";
                }

                if (UnSelectable is true)
                {
                    colorday = "rgba(0,0,0,.4);";                        // Impossible
                    borderColor = "rgba(0,0,0,.4);";
                    fontDaycolor = "rgba(0,0,0,.5);";
                }
            }
            if (DateTime.Now.Date == DateTime)
            {                                                                // Met en évidence le jour actuel.
                colorday = "orange";
                borderColor = "orange";
            }

            if (UnSelectable is null)
            {
                colorday = "transparent";
                borderColor = "white";                
            }
        }
        else
        {
            colorday = "rgba(0,0,0,.4);";                        // Pas de Livret
            borderColor = "rgba(0,0,0,.4);";
            fontDaycolor = "rgba(0,0,0,.5);";
        }
    }

}
