@inject IJSRuntime js

<div>
    <div>
        <div id="cont">

            <div id="mapcont">
                <iframe style="display:none" title="map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3569.039979009368!2d55.558892!3d-21.225407!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2178746a13d7ab13%3A0xa49552a7321fe17a!2s5%20Rue%20du%20P%C3%A8re%20Favron%2C%20Le%20Tampon%2097430%2C%20La%20R%C3%A9union!5e1!3m2!1sfr!2sfr!4v1681457388914!5m2!1sfr!2sfr" width="0" height="0" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                <a href="https://www.google.com/maps?q=5+Rue+du+Père+Favron,+Le+Tampon+97430,+La+Réunion" target="_blank" rel="noopener noreferrer">
                    <img src="items/maps.svg" alt="icône google map" />
                </a>

            </div>

            <div id="seb">
                <p>
                    Louez notre maison pour vos vacances
                </p>

            </div>

            <div>
                <p id="text">
                    Nous vous proposons cette charmante maisonette à la Plaine des Cafres, en altitude près du volcan, idéale pour la randonnée, ou la recherche de calme.  <br /><br />
                    Choisissez les périodes sur le calendrier, remplissez le formulaire et suivez les indications.
                    <br /> N'hesitez pas à nous joindre au 0692104886 pour plus de détails. <br /><br />
                </p>

            </div>
        </div>

    </div>
</div>