:root {
    --maincontchild-width-percent: 50;
    --main-height: 100;
}

body, html {
    @import url('/photo/legend/iFrameSs.css'); //
    @import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
    font-family: 'Twinkle Star', cursive;
    font-size: max(.8rem,1.2vw);
    background-image: url("/photo/papierinp.jpg");
}

@mixin centrage_hor {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

@mixin centrage_ver {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

@mixin onactive_tri($transf-tri) {
    &:active {
        transition: transform .1s;
        transform: $transf-tri scale(.8);
    }
}

@mixin ombre ($add-shadow: null) {
    filter: drop-shadow(4px 4px 2px rgba(0,0,0,.5)) $add-shadow;
}

#header {
    position: relative;
    width: 100%;
    //  background-color: goldenrod;

    > div:first-of-type { //h1
        position: relative;
        top: 0;
        left: 0;
        width: 100%;
        height: max(3rem,6vw);
        background: #3C3B3F; /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        filter: drop-shadow(4px 4px 2px rgba(0,0,0,.5));
        text-shadow: 6px 6px 2px rgba(0,0,0,.5);

        h1 {
            display: block;
            position: absolute;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: fit-content;
            height: fit-content;
            margin: auto;
            color: white;
            font-size: max(1rem,2.5vw);
            font-weight: 800;
            font-family: 'Montserrat', sans-serif;
            // background-color: aqua;

            em {
                position: relative;
                margin-left: min(19.2vw, 16rem);
                font-style: normal;
            }
        }
    }

    #contact {
        width: 100%;
        height: 100%;
        //   background-color: orange;

        > div:first-child {
            display: flex;
            z-index: 2;
            position: relative;
            left: 0;
            right: 0;
            width: fit-content;
            height: fit-content;
            margin: auto;
            // background-color: lightgreen;

            > div:first-of-type { //tel
                display: flex;
                position: relative;
                width: fit-content;
                height: fit-content;
                align-items: center;
                @include ombre();

                div:last-of-type { //num div
                    display: flex;
                    flex-wrap: wrap;
                    z-index: -1;
                    position: relative;
                    width: .3rem;
                    height: 3rem;
                    overflow: hidden;
                    text-align: center;
                    align-content: center;
                    font-family: 'Malgun Gothic';
                    border: solid 1px;
                    border-bottom-right-radius: 5% 10%;
                    border-top-right-radius: 5% 10%;
                    filter: drop-shadow(1px 1px 1.2px rgba(0,0,0,.5));
                    transition: all .5s;
                    // background-color: orange;

                    span {
                        position: absolute;
                        height: fit-content;
                        right: 1rem;
                        top: 0;
                        bottom: 0;
                        margin: auto;
                        font-size: 1rem;
                        // background-color: red;
                    }
                }

                &:focus div:last-of-type { // vise num div
                    width: 9rem;
                    height: 3rem;
                    background-color: white;
                }

                &:focus div:first-of-type {
                    border-bottom-right-radius: 50% 10%;
                    border-top-right-radius: 50% 10%;
                    border-bottom-left-radius: 50% 50%;
                    border-top-left-radius: 50% 50%;
                    background-color: chartreuse;
                }

                div:first-of-type { // img num
                    position: relative;
                    transition: all .5s;
                    background-color: aqua;

                    img {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }

            > div:last-of-type { //mail
                display: flex;
                position: relative;
                width: fit-content;
                height: fit-content;
                margin-left: .4rem;
                align-items: center;
                @include ombre();
                // background-color: lime;

                &:focus div:first-of-type { // vise ad mail div
                    position: relative;
                    width: 12rem;
                    height: 3rem;
                }

                &:focus div:last-of-type {
                    border-bottom-left-radius: 50% 10%;
                    border-top-left-radius: 50% 10%;
                    border-bottom-right-radius: 50% 50%;
                    border-top-right-radius: 50% 50%;
                    background-color: chartreuse;
                }

                div:first-of-type { // ad mail div
                    display: flex;
                    flex-wrap: wrap;
                    width: .3rem;
                    height: 3rem;
                    overflow: hidden;
                    align-content: center;
                    text-align: center;
                    font-family: 'Malgun Gothic';
                    border: solid 1px;
                    border-bottom-left-radius: 5% 10%;
                    border-top-left-radius: 5% 10%;
                    filter: drop-shadow(1px 1px 1.2px rgba(0,0,0,.5));
                    transition: width .5s;
                    background-color: white;

                    span {
                        position: relative;
                        left: 1rem;
                        font-size: 1rem;
                        // background-color: orange;
                    }
                }

                div:last-of-type { //image mail
                    position: relative;
                    right: 0;
                    transition: all .5s;
                    background-color: cyan;

                    img {
                        width: 4rem;
                        height: 4rem;
                    }
                }
            }
        }
    }
}

#footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: max(3rem,6vw);
    text-align: center;
    font-size: max(.7rem,1vw);
    background: #3C3B3F; //fallback for old browsers
    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); // Chrome 10-25, Safari 5.1-6
    background: linear-gradient(to right, #605C3C, #3C3B3F);
    // background-color: violet;

    &:before {
        content: "Siret: 299792458ms \A Webmaster Freelance - sierra-echo@msn.com";
        white-space: pre;
        display: block;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        width: fit-content;
        height: fit-content;
        margin: auto;
        //   background-color: grey;

        em {
            color: blue;
        }        
    }
}

#maincont {
    --maincont-width: 95vw;
    --child-width: calc(var(--maincont-width)/100 * var(--maincontchild-width-percent));
    display: flex;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: var(--maincont-width);
    height: 90vh;
    margin: auto;
    margin-top: 1rem;
    align-items: center;
    justify-content: center;
    row-gap: 2rem;
    border-radius: 2.5%/5%;
    background-color: rgba(0,0,0,.05);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-size: 100% 100%;
    background-position: center;

    #pretext {
        z-index: 3;
        position: relative;
        width: max(calc(var(--child-width) * 1),26rem);
        height: fit-content;
        transition: transform .7s;
        @include ombre();
        // background-color: mediumvioletred;

        > div:first-child { //cont p
            display: block;
            position: relative;
            left: 0;
            right: 0;
            width: 100%;
            height: fit-content;
            margin: auto;
            // background-color: blue;

            > div:first-of-type { // ardoise
                width: 95%;
                margin: auto;
                margin-top: .5rem;
                filter: drop-shadow(2px 2px 1.3px black);
                background-color: rgba(0, 0, 0,.4);

                iframe:last-of-type { // bienvenue
                    width: 100%;
                    border: none;
                    // background-color: azure;
                }
            }
        }
    }



    #photos {
        --cp_mult-h: 1;
        --mult_ph-scale: 1;
        --trans-height: 0%;
        --photo-width: var(--child-width);
        --photo-height: calc(var(--main-height) * 1%);
        --cp_ph-y: calc(max(var(--photo-width),var(--max_size)) /2 );
        --max_size: 50rem;
        display: flex;
        position: relative;
        left: 0;
        right: 0;
        top: 0;
        width: calc(max(var(--photo-width),var(--max_size)) / 2 * var(--mult_ph-scale));
        height: fit-content;
        margin: auto;
        user-select: none;
        @include ombre();
        // background-color: green;

        > div:first-child { //cont p
            z-index: 1;
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: var(--cp_ph-y);
            margin: auto;
            overflow-x: hidden;
            overflow-y: visible;
            border-radius: 1%;
            border: groove 2px;
            -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
            backdrop-filter: blur(15px);
            transition: transform .7s;
            // background-color: red;

            .carre {
                z-index: 2;
                position: absolute;
                top: .25rem;
                right: .25rem;
                width: 2rem;
                height: 2rem;
                border: .25rem solid white;
                border-radius: 0 50% 0 0;
                transition: .1s all;

                &:active {
                    transform: scale(.8);
                    background-color: mediumspringgreen;
                }

                .carre2 {
                    position: inherit;
                    top: 0;
                    right: 0;
                    width: inherit;
                    height: inherit;
                    border-radius: inherit;
                    border: .25rem solid red;
                    opacity: .5;
                    transition: 1s all;
                }
            }

            span:nth-of-type(1) { // nos photos txt
                z-index: 1;
                position: absolute;
                top: 5%;
                left: 0;
                right: 0;
                width: 10rem;
                margin: auto;
                font-weight: 900;
                font-size: 1rem;
                text-align: center;
                font-family: 'Montserrat', sans-serif;
                color: whitesmoke;
                @include ombre();
                //   background-color: green;
            }

            > div:nth-of-type(2) {
                display: flex;
                width: 100%;
                height: 100%;
                align-content: center;
                // background-color: blueviolet;

                #contPhAloneJs { //container images + leg - alone proute
                    --phpc: 0;
                    --phpx: 0;
                    --qte_ph: 0;
                    display: flex;
                    flex-shrink: 0;
                    position: relative;
                    width: calc(100% * var(--qte_ph));
                    height: fit-content;
                    margin: auto;
                    align-items: center;
                    transition: all linear .2s;
                    transform: translate(calc( var(--phpc) * 1% + var(--phpx) * 1px ));
                    // background-color: yellow;

                    > div { //cont img et cont ifrme - multy
                        width: 100%;
                        height: fit-content;
                        //  background-color: darkmagenta;

                        img {
                            position: relative;
                            width: 100%;
                            height: auto;
                        }

                        > div { //cont iframe contIfraJs
                            position: relative;
                            // background-color:greenyellow;

                            iframe { // legend
                                display: block;
                                position: absolute;
                                left: 0;
                                right: 0;
                                width: calc(max(var(--photo-width),0)/2 * .9);
                                height: 3.5rem;
                                margin: auto;
                                opacity: .6;
                                border-radius: 10%;
                                background-color: red;
                            }
                        }
                    }
                }
            }

            > div:last-child { // cont tri back next
                --triremplback: 0%;
                --triremplnext: 0%;
                width: 100%;
                @include centrage_hor;
                @include centrage_ver;
                position: absolute;
                transform: translate(-50%,-50%);
                background-color: orange;

                #mytriback { // Triangle Back
                    position: absolute;
                    left: 0;
                    top: 50%;
                    width: calc(var(--photo-width)/2 / 5);
                    height: calc(var(--photo-width)/2 / 5);
                    transform-origin: center;
                    transform: translateY(-50%) rotateZ(-180deg);
                    @include onactive_tri(translateY(-50%) rotateZ(-180deg));
                    filter: drop-shadow(-3px -3px 2px rgba(0,0,0,.7));
                    // background-color: mediumvioletred;

                    #path2416 { // Remplissage
                        clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
                        transition: clip-path linear 1s;
                    }
                }

                #mytrinext { // Triangle Next
                    position: absolute;
                    top: 50%;
                    right: 0;
                    width: calc(var(--photo-width)/2 / 5);
                    height: calc(var(--photo-width)/2 / 5);
                    transform: translateY(-50%);
                    @include onactive_tri(translateY(-50%));
                    filter: drop-shadow(-3px 3px 2px rgba(0,0,0,.7));
                    // background-color: mediumvioletred;

                    #path2416 { // Remplissage
                        clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
                        transition: clip-path 1s;
                    }
                }
            }
        }
    }

    @media screen and (max-width:619px) {
        #photos {
            width: 96%;

            > div:first-child {
                height: fit-content !important;

                .carre {
                    display: none;
                }

                > div:nth-of-type(2) {

                    #contPhAloneJs {
                        > div {
                            > div {
                                iframe {
                                    position: relative !important;
                                    width: 65%;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    #hlp {
        width: max(32vw,21rem);
        height: auto;
        //  background-color: darkslategrey;

        > div:first-child { // cont p

            > div:first-child { //pannleg
                width: 100%;
                height: auto;
                border: solid 1px;
                border-radius: 5px;
                backdrop-filter: blur(3px);
                box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
                // background-color: red;

                > div { // Item
                    display: flex;
                    border: solid 1px orange;
                    // background-color: green;

                    > div { // elements comp cont
                        flex-shrink: 0;
                        width: max(3vw,2rem);
                        height: max(3vw,2rem);
                        margin: auto 0;
                        background-color: blue;

                        div { // in element
                            display: flex;
                            position: relative;
                            height: 100%;
                            justify-content: center;
                            align-items: center;
                            background-color: red;
                        }
                    }

                    > span {
                        position: relative;
                        margin: auto 0;
                        margin-left: .5rem;
                        font-size: .9rem;
                    }

                    svg {
                        width: max(3vw,2rem);
                        height: max(3vw,2rem);
                        filter: drop-shadow(2px 2px 1.3px black);
                        flex-shrink: 0;
                        margin: auto 0;
                    }
                }
            }
        }
    }

    #payment {
        width: 20rem;
        height: fit-content;
        //   background-color: blue;

        > div:first-of-type { // cont paylib
            display: block;
            float: left;
            width: fit-content;
            margin: .2rem .5rem 0 .5rem;
            // background-color: violet;

            img {
                position: relative;
                width: 4rem;
                height: 4rem;
                @include ombre(drop-shadow(1px 1px 1px black));
                // background-color: green;
            }
        }

        #lf { // cont lyf
            display: block;
            float: left;
            clear: left;
            margin-right: .5rem;
            text-indent: initial;
            // background-color: blue;

            img {
                width: 4rem;
                height: 4rem;
                @include ombre();
                //  background-color:red;
            }
        }

        > span { // nous travaillons...
            display: block;
            position: relative;
            margin: .5rem;
            text-indent: 1rem;
            // background-color: grey;
        }

        > div:last-of-type {
            margin: .5rem;
            margin-top: 1rem;
            text-indent: 1rem;
            // background-color: blue;

            span { // texte bas  paylib...
                font-size: 90%;
                //  background-color: gold;

                em {
                    font-weight: bold; // la majorité
                    // background-color: orange;
                }

                span { // il suffit...
                    display: block;
                    position: relative;
                    width: 80%;
                    margin-top: 2rem;
                    margin-left: auto;
                    margin-right: 0;
                    text-align: center;
                    font-style: italic;
                    // background-color: red;
                }
            }

            > div {
                width: auto;
                height: auto;
            }
        }
    }

    #agenda {
        --calendar-width: max(calc(var(--child-width) / 4 * 2.5),23rem);
        position: relative;
        width: max(var(--calendar-width),16rem);
        height: fit-content; //calc(var(--child-width) / 4 * 3);
        // left: 3vw;
        z-index: 2;
        transition: transform .7s;
        //  background-color: darkgoldenrod;
        @include ombre();
        // flex-shrink: 0;

        > div:first-child { //cont p
            position: relative;
            top: 0;
            bottom: 0;
            left: 0;
            right: 0;
            width: 100%;
            height: 80%;
            margin: auto;
            // background-color: rebeccapurple;

            #calendar {
                position: relative;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                width: 100%;
                height: calc(var(--calendar-width) + 5rem);
                margin: auto;
                text-align: center;
                // background-color: red;

                > :first-child { // Mois Année
                    display: inline-block;
                    position: relative;
                    color: white;
                    border: outset;
                    border-width: 3px 5px;
                    border-color: cornflowerblue;
                    border-radius: 60% / 30%;
                    filter: drop-shadow(2px 2px 2px black);
                    background-color: rgba(0, 0, 0, .3);

                    div {
                        display: inline-block;
                        text-align: center;
                        // background-color: red;

                        span {
                            display: block;
                            padding: 0 1rem;
                            line-height: 1;
                            font-size: 1rem;
                            // background-color: orange;
                        }
                    }
                }

                > #panneau {
                    display: grid;
                    position: relative;
                    top: 0;
                    right: 0;
                    left: 0;
                    bottom: 0;
                    width: 100%;
                    height: var(--calendar-width);
                    margin: auto;
                    margin-top: 1.5rem;
                    grid-template-columns: repeat(7, 1fr);
                    grid-template-rows: repeat(7, 1fr);
                    // background-color: darkcyan;

                    > div { // Item
                        display: flex;
                        width: auto;
                        height: auto;
                        margin: 1px;
                        filter: drop-shadow(4px 4px 2px rgba(0,0,0,.5));
                        background-color: transparent;

                        &:nth-child(1), &:nth-child(2), &:nth-child(3), &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7) { // 7 jours
                            border: solid;
                            border-width: calc(max(.4vw,4px));
                            border-radius: 10%;
                            border-color: cornflowerblue;
                            background-color: rgba(0, 0, 0, .4);
                        }

                        > div { // Element container
                            display: inherit;
                            width: 100%;
                            height: 100%;
                            border: solid;
                            border-width: calc(max(.4vw,4px));
                            border-radius: 10%;
                            border-color: green;
                        }

                        span { // jours Int
                            display: inherit;
                            margin: auto;
                            line-height: 1;
                            font-size: 1rem;
                            font-weight: bold;
                            // background-color: green;
                        }

                        > span { // jours Sem
                            color: ghostwhite;
                            line-height: 1;
                            font-size: 1rem;
                            font-weight: 800;
                            // background-color: lightgreen;
                        }
                    }
                }
            }

            #periodes {
                position: relative;
                top: 100%;
                left: 0;
                width: 80%;
                height: auto;
                margin: auto;
                color: black;
                // background-color: darkcyan;

                div { // div période
                    margin-bottom: 2px;
                    color: white;
                    border: solid;
                    border-width: calc(max(.4vw,4px));
                    border-color: white;
                    border-radius: 2%;
                    background: #3C3B3F; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }

                span {
                    display: block;
                    font-size: 1rem;
                }

                > span:last-child { // Prix Total
                    color: white;
                    font-family: 'Montserrat', sans-serif;
                    border: solid;
                    border-width: calc(max(.4vw,4px));
                    border-radius: 2.5%;
                    border-color: white;
                    background: #FF416C; /* fallback for old browsers */
                    background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); /* Chrome 10-25, Safari 5.1-6 */
                    background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
                }

                .remPer {
                    animation: remPerAnim .5s forwards;
                }

                .ajoutPer {
                    animation: ajoutPerAnim .5s forwards;
                }

                @keyframes ajoutPerAnim {
                    from {
                        transform: scale(0,0);
                    }

                    to {
                        transform: scale(1,1);
                    }
                }

                @keyframes remPerAnim {
                    from {
                        transform: scale(1,1);
                    }

                    to {
                        transform: scale(0,0);
                    }
                }
            }

            > div:nth-child(2) { // Button container
                --triremplnext: 0%;
                --triremplback: 0%;
                --mycall-height: 0%;
                --button-width: 100%;
                display: flex;
                z-index: 1;
                position: relative;
                top: 100%;
                width: 50%;
                margin: auto;
                // background-color: darkgray;

                #mytriback { // Triangle Back
                    width: var(--button-width);
                    height: var(--button-width);
                    transform-origin: center;
                    transform: translate(-10%) rotateZ(-180deg);
                    @include onactive_tri(rotateZ(-180deg));
                    filter: drop-shadow(-3px -3px 2px rgba(0,0,0,.7));
                    // background-color: mediumvioletred;

                    #path2416 { // Remplissage
                        clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
                        transition: clip-path 1s;
                    }
                }

                #mytrinext { // Triangle Next
                    width: var(--button-width);
                    height: var(--button-width);
                    @include onactive_tri(translate(0));
                    transform: translate(10%);
                    filter: drop-shadow(-3px 3px 2px rgba(0,0,0,.7));
                    // background-color: cadetblue;

                    #path2416 { // Remplissage
                        clip-path: polygon(0% var(--triremplnext), 100% var(--triremplnext), 100% 100%, 0% 100%);
                        transition: clip-path 1s;
                    }
                }

                div {
                    width: var(--button-width);
                    height: var(--button-width);
                    @include onactive_tri(translate(0));
                    // background-color: red

                    #mycall { // ClearAll
                        width: var(--button-width);
                        height: var(--button-width);
                        margin-left: 30%;
                        transform-origin: center;
                        transition: transform 5s;
                        filter: drop-shadow(-3px 3px 2px rgba(0,0,0,.7));

                        #rect1410 {
                            height: 0%;
                            transform-origin: center;
                            transform: rotateZ(180deg);
                        }

                        #rect881, #path1527 {
                            transform-origin: center;
                            transition: transform 5s;
                        }

                        #myPathrect {
                            transform-origin: center;
                            transform: rotateZ(0deg);
                            transition: transform 5s;
                        }

                        &.mycallplein { // AnimRempl
                            transform: rotateZ(360deg);

                            #rect1410 {
                                animation: aug-height 5s linear forwards;
                            }

                            #rect881, #path1527 {
                                transform: rotateZ(-360deg);
                            }

                            #myPathrect {
                                transform: rotateZ(-360deg);
                            }
                        }

                        &.mycallvide { // AnimVidange
                            transform: rotateZ(-360deg);

                            #rect1410 {
                                animation: dim-height 5s reverse linear forwards;
                            }

                            #rect881, #path1527 {
                                transform: rotateZ(360deg);
                            }

                            #myPathrect {
                                transform: rotateZ(360deg);
                            }
                        }

                        @keyframes aug-height {
                            from {
                                height: 20%;
                            }

                            to {
                                height: 80%;
                            }
                        }

                        @keyframes dim-height {
                            from {
                                height: 20%;
                            }

                            to {
                                height: 80%;
                            }
                        }
                    }
                }
            }
        }
    }

    #reserv {
        display: flex;
        flex-shrink: 0;
        position: relative;
        width: max(calc(var(--child-width) *2),16rem);
        height: max(calc(var(--child-width)),32rem);
        justify-content: center;
        align-items: center;
        @include ombre();
        // background-color: blue; //#00c6b0;

        > div:first-child { //cont p
            flex-shrink: 0;
            position: relative;
            width: 62%;
            height: 80%;
            // background-color: yellow;

            #form {
                --displres: block;
                --pointres: initial;
                --opres: .9;
                --trans: 0;
                display: block;
                position: relative;
                left: 50%;
                width: 50%;
                height: 100%;
                opacity: .8;
                // background-color: gray;

                &::after { // couv
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    width: 100%;
                    height: 100%;
                    font-size: 3rem;
                    opacity: var(--opres);
                    transition: 1s opacity, 1s transform;
                    transform: translate(calc(-1 * var(--trans)*1%));
                    pointer-events: var(--pointres);
                    border: solid;
                    border-width: 2px;
                    border-radius: 10% / 5%;
                    background-image: url("/item/res.webp");
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position-y: 25%;
                    background-size: 85%;
                    background-position-x: center;
                    backdrop-filter: blur(1.2px);
                    filter: drop-shadow(1px 2px 1px rgba(0,0,0,1));
                }

                > :first-child { // > EditForm { // EditForm
                    height: 100%;
                    overflow-x: visible;
                    overflow-y: auto;
                    font-size: 1rem;
                    border-radius: 10% / 5%;
                    background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(60,55,49,1) 35%, rgba(9,10,10,1) 100%);

                    &::-webkit-scrollbar {
                        border-radius: 8px;
                        background-color: whitesmoke;
                    }

                    &::-webkit-scrollbar-thumb {
                        border-radius: 8px;
                        background: black;
                    }
                    /*  ::-webkit-scrollbar-track {
                        background-color: red;
                        width: 16px;
                    }*/

                    label {
                        display: block;
                        // background-color: mediumspringgreen;

                        span {
                            display: block;
                            margin-left: 2vw;
                            padding: .20rem 0;
                            color: white;
                            border-radius: 5px;
                            background: linear-gradient(90deg, rgba(11,11,11,1) 0%, rgba(60,55,49,1) 35%, rgba(9,10,10,1) 100%);
                        }

                        input, textarea {
                            display: block;
                            width: 85%;
                            margin: auto;
                            border: none;
                            border-radius: 5px;
                            // background-color: yellow;
                        }

                        textarea {
                            height: 5rem;
                            line-height: 1.2em;
                            background-image: url("/photo/papierinp.jpg");
                            background-position: center;
                            background-size: cover;
                            background-repeat: no-repeat;
                        }
                    }

                    label:first-of-type {
                        position: relative;
                        width: 90%;
                        margin: auto;
                        padding-top: 1rem;

                        input {
                            display: block;
                        }
                    }

                    button { // Envoyez
                        display: block;
                        width: 7rem;
                        height: 1.8rem;
                        margin: auto;
                        padding: 0;
                        line-height: .9rem;
                        border: solid 4px;
                        border-radius: 5% / 45%;
                        filter: drop-shadow(4px 4px 2px rgba(0,0,0,.5));
                        background-color: #32de84; // #0BDA51; // #018749;
                    }
                }
            }

            > div:nth-child(2) { //cont recap + paie contscrooljs
                position: absolute;
                top: 0;
                left: 50%;
                overflow-y: auto;
                scroll-behavior: smooth;
                border-radius: 10% / 5%;
                background-color: peru;
                animation: transpaye 2s forwards;
                height: 100%;

                &::-webkit-scrollbar {
                    border-radius: 8px;
                    background-color: whitesmoke;
                }

                &::-webkit-scrollbar-thumb {
                    border-radius: 8px;
                    background: black;
                }

                @keyframes transpaye {
                    from {
                        width: 0;
                    }

                    to {
                        width: 50%;
                    }
                }

                #mailcont {
                    position: relative;
                    top: 0;
                    text-align: center;
                    font-size: 2rem;
                    background-color: palevioletred;

                    button {
                        display: inline-block;
                        margin: auto;
                        margin-top: 4px;
                        margin-bottom: 4px;
                    }
                }

                #contpaie {
                    position: relative;
                    top: 0;

                    > div:first-of-type { // cont htmlpaie
                        position: relative;
                        top: 0;
                        padding-top: .6rem;
                        padding-left: .5rem;
                        padding-right: .5rem;
                        color: white;
                        // background-color: yellow;

                        > div:first-of-type {
                            border-top-right-radius: 2vw;
                            background-color: orange;
                        }
                    }
                }
            }

            #avert { //dispavert
                position: relative;
                top: -47%;
                left: 1.4%;
                width: 47%;
                height: fit-content;
                font-size: 80%;
                background-color: yellow;
            }
        }
    }

    @media screen and (max-width:500px) {
        #reserv {
            > div:first-child { // cont p
                width: 95%;
                height: 100%;

                #form {
                    left: 0%;
                    width: 100%;

                    &::after { // couv
                        transform: translateY(calc(var(--trans)*1%));
                    }
                }

                > div:nth-child(2) { //cont recap + paie contscrooljs
                    left: 0;
                    width: 100%;
                    animation: transpaye-y 2s forwards;

                    @keyframes transpaye-y {
                        from {
                            height: 0;
                            top: 100%;
                        }

                        to {
                            top: 0;
                            height: 100%;
                        }
                    }
                }

                #avert { //dispavert
                    top: 55%;
                    left: 0;
                    width: 60%;
                    height: fit-content;
                    margin: auto;
                    font-size: 1rem;
                    background-color: yellow;
                }
            }
        }
    }
}
