:root {
  @import url("/photo/legend/iFrameSs.css");
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
  --maincontchild-width-percent: 50;
  --main-height: 100;
  --doc-height: 100%;
}

body {
  overflow-x: hidden;
}

html {
  /* overflow-x: hidden;
  overflow-y: visible;*/
}

body, html {
  font-family: "Unbounded", cursive;
}

img#land {
  position: fixed;
  z-index: -1;
  width: 150vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  /* top: 0;
  left: 0;
  right: 0;
  bottom: 0;*/
}

@media screen and (orientation: landscape) {
  img#land {
    width: 65vw;
  }
}
svg#go {
  position: absolute;
  top: 50%;
  left: 10%;
  height: 14vw;
  width: 14vw;
  min-width: 100px;
  min-height: 100px;
  filter: drop-shadow(0px 0px 1px rgb(0, 0, 0));
  transition: transform 0.2s linear;
}
svg#go:active {
  width: 13.5vw;
  left: 10.6vw;
}

#header {
  --margin_top: calc(max(2rem,5vw) + .5vw + .2rem);
  --item_contact_size: max(2rem,5vw);
  --esp_h1: 0;
  position: relative;
  width: 100%;
}
#header > div:first-of-type {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: black;
}
#header > div:first-of-type #louCont {
  position: relative;
  top: calc(var(--item_contact_size) + 4vw);
  height: 10vh;
}
#header > div:first-of-type #louCont h1 {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  font-size: max(1rem, 2.5vw);
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
#header > div:first-of-type #louCont h1::before {
  content: "";
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(2px);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 1rem;
}
#header > div:first-of-type #louCont h1 em {
  position: relative;
  margin-left: min(19.2vw, 16rem);
  font-style: normal;
  color: grey;
}
@media screen and (max-width: 500px) {
  #header > div:first-of-type #lambcont svg {
    width: 10% !important;
  }
  #header > div:first-of-type #lambcont svg:nth-of-type(5) {
    margin-top: var(--margin_top);
    margin-left: 0.5vw;
    transform-origin: left;
    transform: rotateY(340deg);
  }
  #header > div:first-of-type #lambcont svg:nth-of-type(6) {
    margin-top: var(--margin_top);
    margin-right: 0.5vw;
    transform-origin: right;
    transform: rotateY(20deg);
  }
  #header > div:first-of-type #lambcont svg:nth-of-type(10) {
    margin-top: 0;
    margin-right: 0;
    transform-origin: initial;
    transform: none;
  }
  #header > div:first-of-type #lambcont svg:nth-of-type(11) {
    margin-top: 0;
    margin-right: 0;
    transform-origin: initial;
    transform: none;
  }
}
#header > div:first-of-type #lambcont {
  position: relative;
  bottom: -100%;
  display: flex;
  width: 100%;
  height: 1rem;
  background-color: whitesmoke;
  background: #3C3B3F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  perspective: 25vw;
  perspective-origin: top;
}
#header > div:first-of-type svg {
  width: 5% !important;
  height: fit-content !important;
}
#header > div:first-of-type svg:nth-of-type(10) {
  margin-top: var(--margin_top);
  margin-right: 0.5vw;
  transform-origin: left;
  transform: rotateY(340deg);
}
#header > div:first-of-type svg:nth-of-type(11) {
  margin-top: var(--margin_top);
  margin-left: 0.5vw;
  transform-origin: right;
  transform: rotateY(20deg);
}
#header #contact {
  width: 100%;
  height: 100%;
  font-size: max(0.5rem, 1.2vw);
}
#header #contact > div:first-child {
  display: flex;
  z-index: 2;
  position: relative;
  top: 1px;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
#header #contact > div:first-child > div:first-of-type {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  align-items: center;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#header #contact > div:first-child > div:first-of-type div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  position: relative;
  width: 0.3rem;
  height: var(--item_contact_size);
  overflow: hidden;
  text-align: center;
  align-content: center;
  border: solid 1px;
  border-bottom-right-radius: 5% 10%;
  border-top-right-radius: 5% 10%;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
  transition: all 0.5s;
}
#header #contact > div:first-child > div:first-of-type div:last-of-type span {
  position: absolute;
  height: fit-content;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
}
#header #contact > div:first-child > div:first-of-type:focus div:last-of-type {
  width: 9em;
  background-color: white;
}
#header #contact > div:first-child > div:first-of-type:focus div:first-of-type {
  border-bottom-right-radius: 50% 10%;
  border-top-right-radius: 50% 10%;
  border-bottom-left-radius: 50% 50%;
  border-top-left-radius: 50% 50%;
  background-color: chartreuse;
}
#header #contact > div:first-child > div:first-of-type div:first-of-type {
  position: relative;
  transition: all 0.5s;
  background-color: aqua;
}
#header #contact > div:first-child > div:first-of-type div:first-of-type img {
  width: var(--item_contact_size);
  height: var(--item_contact_size);
}
#header #contact > div:first-child > div:last-of-type {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#header #contact > div:first-child > div:last-of-type:focus div:first-of-type {
  position: relative;
  width: 14em;
}
#header #contact > div:first-child > div:last-of-type:focus div:last-of-type {
  border-bottom-left-radius: 50% 10%;
  border-top-left-radius: 50% 10%;
  border-bottom-right-radius: 50% 50%;
  border-top-right-radius: 50% 50%;
  background-color: chartreuse;
}
#header #contact > div:first-child > div:last-of-type div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  width: 0.3rem;
  height: var(--item_contact_size);
  overflow: hidden;
  align-content: center;
  text-align: center;
  border: solid 1px;
  border-bottom-left-radius: 5% 10%;
  border-top-left-radius: 5% 10%;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
  transition: width 0.5s;
  background-color: white;
}
#header #contact > div:first-child > div:last-of-type div:first-of-type span {
  position: relative;
  margin: auto;
}
#header #contact > div:first-child > div:last-of-type div:last-of-type {
  position: relative;
  right: 0;
  transition: all 0.5s;
  background-color: cyan;
}
#header #contact > div:first-child > div:last-of-type div:last-of-type img {
  width: var(--item_contact_size);
  height: var(--item_contact_size);
}

#footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: max(3rem, 5vw);
  text-align: center;
  font-size: max(0.7rem, 1vw);
  background: #3C3B3F;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: linear-gradient(to right, #605C3C, #3C3B3F);
}
#footer:before {
  content: "Siret: 299792458ms \a- Webmaster Freelance - sierra-echo@msn.com";
  white-space: pre-wrap;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
}
#footer:before em {
  color: blue;
}

#maincont {
  --maincont-width: 95%;
  --child-width: calc(var(--maincont-width)/100 * var(--maincontchild-width-percent));
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--maincont-width);
  height: fit-content;
  margin: auto;
  margin-top: 95vh;
  margin-bottom: calc(max(3rem, 5vw) + 2.5vw + 1px);
  row-gap: 10vw;
  border-radius: 2.5%/5%;
  /* background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;*/
  /*@media screen and (max-width:500px) {
      #reserv {
          margin-bottom: max(3.3rem,6vw);

          > div:first-child { // cont p
              width: 95%;
              height: 100%;

              #form {
                  left: 0%;
                  width: 100%;

                  &::after { // couv
                      transform: translateY(calc(var(--trans)*1%));
                  }
              }

              > div:nth-child(2) { //cont recap + paie contscrooljs
                  left: 0;
                  width: 100%;
                  animation: transpaye-y 2s forwards;

                  @keyframes transpaye-y {
                      from {
                          height: 0;
                          top: 100%;
                      }

                      to {
                          top: 0;
                          height: 100%;
                      }
                  }
              }

              #avert { //dispavert
                  top: 55%;
                  left: 0;
                  width: 60%;
                  height: fit-content;
                  margin: auto;
                  font-size: 1rem;
                  background-color: yellow;
              }
          }
      }
  }*/
}
#maincont #ph_pre_cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#maincont #ph_pre_cont #photos {
  z-index: 3;
  --cp_mult-h: 1;
  --mult_ph-scale: 1;
  --trans-height: 0%;
  --photo-width: var(--child-width);
  --photo-height: calc(var(--main-height) * 1%);
  --cp_ph-y: calc(max(var(--photo-width),var(--max_size)) /2 );
  --max_size: 30rem;
  --chemin_width_carre: calc(.08 * (min(calc(95vw * .9), var(--max_size))));
  display: flex;
  margin: 5%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 90%;
  max-width: var(--max_size);
  height: fit-content;
  user-select: none;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
  /* 
   * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
   * coarse: The primary input mechanism includes a pointing device of limited accuracy.
   */
}
#maincont #ph_pre_cont #photos:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #ph_pre_cont #photos > div:first-child {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 1.13em 0;
  margin: auto;
  transition: transform 0.7s;
  overflow-x: hidden;
  overflow-y: hidden;
}
#maincont #ph_pre_cont #photos > div:first-child .carre {
  z-index: 2;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 8%;
  height: var(--chemin_width_carre);
  border: 0.25rem solid lightgrey;
  border-radius: 0 50% 0 0;
  transition: 0.1s all;
}
#maincont #ph_pre_cont #photos > div:first-child .carre:active {
  transform: scale(0.8);
  background-color: mediumspringgreen;
}
#maincont #ph_pre_cont #photos > div:first-child .carre .carre2 {
  position: inherit;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: 0.25rem solid green;
  opacity: 0.5;
  transition: 1s all;
}
#maincont #ph_pre_cont #photos > div:first-child span:nth-of-type(1) {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 10rem;
  margin: auto;
  font-weight: 900;
  text-align: center;
  color: black;
}
#maincont #ph_pre_cont #photos > div:first-child span:nth-of-type(1):before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 128%;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  border-radius: 10px;
  filter: blur(3px);
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) {
  display: flex;
  width: 100%;
  align-content: center;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs {
  --phpc: "0";
  --phpx: 0;
  --qte_ph: 0;
  --before_width: 70%;
  --before_bottom: "unset";
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: calc(100% * var(--qte_ph));
  height: fit-content;
  margin: auto;
  align-items: center;
  transition: all linear 0.5s;
  transform: translate(calc(var(--phpc) * 1% + var(--phpx) * 1px));
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div {
  width: 100%;
  height: fit-content;
  position: relative;
  /*     &:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 10%;
      left: 0vw;
      width: 90%;
      height: 100%;
      border-radius: 1vw;
      //  clip-path: polygon(0% 25%, 25% 0%, 100% 0%, 100% 75%,75% 100%, 25% 100%, 0% 75%);
      background-color: rgba(black,.8);
  }*/
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div img {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 5px;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div > div {
  position: relative;
  width: 100%;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div > div::before {
  content: "";
  width: var(--before_width);
  height: 1.2rem;
  bottom: var(--before_bottom);
  filter: blur(3px);
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: var(--before_bottom);
  background-color: white;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div > div iframe {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  height: 1rem;
  margin: auto;
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child {
  --triremplback: 0%;
  --triremplnext: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child #mytriback {
  position: absolute;
  left: 0;
  top: 50%;
  width: 10%;
  max-width: 3rem;
  height: fit-content;
  transform-origin: center;
  transform: translateY(-50%) rotateZ(-180deg);
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
  pointer-events: all;
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child #mytriback:active {
  transition: transform 0.1s;
  transform: translateY(-50%) rotateZ(-180deg) scale(0.8);
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child #mytriback #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  transition: clip-path linear 1s;
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child #mytrinext {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  max-width: 3rem;
  height: fit-content;
  transform: translateY(-50%);
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
  pointer-events: all;
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child #mytrinext:active {
  transition: transform 0.1s;
  transform: translateY(-50%) scale(0.8);
}
#maincont #ph_pre_cont #photos > div:first-child > div:last-child #mytrinext #path2416 {
  clip-path: polygon(0% var(--triremplnext), 100% var(--triremplnext), 100% 100%, 0% 100%);
  transition: clip-path 1s;
}
#maincont #ph_pre_cont #pretext {
  z-index: 3;
  display: flex;
  position: relative;
  width: 90%;
  height: fit-content;
  margin: 5% auto;
  align-self: center;
  transition: 2s transform;
  user-select: none;
  max-width: 25rem;
}
#maincont #ph_pre_cont #pretext:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  /*     left:2.5rem;
  right:2.5rem;*/
  width: calc(100% + 2vw);
  height: calc(100% + 2vw);
  filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
#maincont #ph_pre_cont #pretext > div:first-child {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  margin: auto;
}
#maincont #ph_pre_cont #pretext > div:first-child > div:first-of-type {
  width: 100%;
  margin: auto;
  position: relative;
  /*margin-top: .5rem;*/
  /*   margin-bottom: .5rem;*/
  border: solid white 1px;
  border-radius: 50px;
  background-color: rgba(0, 139, 139, 0.7);
}
#maincont #ph_pre_cont #pretext > div:first-child > div:first-of-type iframe:last-of-type {
  width: 100%;
  position: relative;
  display: block;
  border: none;
  transition: height 0.5s;
}
#maincont #hlp_ag_cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#maincont #hlp_ag_cont .welcome_hlp#hlp {
  transform: none;
}
#maincont #hlp_ag_cont #hlp {
  width: 90%;
  height: fit-content;
  position: relative;
  transition: 2s transform;
  transform: translate(-100vw);
  display: flex;
  margin: 5%;
  max-width: 30rem;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
}
#maincont #hlp_ag_cont #hlp:before {
  content: "";
  position: absolute;
  /*  top:0;
  left:0;
  display:block;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #hlp_ag_cont #hlp > div:first-child {
  width: 100%;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div {
  display: flex;
  position: relative;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div > div {
  flex-shrink: 0;
  width: max(3vw, 2rem);
  height: max(3vw, 2rem);
  margin: 0.2em 0;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div > div div {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div > span {
  position: relative;
  margin: auto 0;
  margin-left: 0.5rem;
  font-size: 0.95em;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div svg {
  width: max(3vw, 2rem);
  height: max(3vw, 2rem);
  filter: drop-shadow(2px 2px 1.3px black);
  flex-shrink: 0;
  margin: auto 0;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div:nth-child(7) > div div, #maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div:nth-child(8) > div div {
  border: solid 0.3em;
}
#maincont #hlp_ag_cont #agenda {
  --calendar-width: max(calc(var(--child-width) / 1),23rem);
  --agenda_pointer-event: initial;
  z-index: 2;
  position: relative;
  height: fit-content;
  margin: 5%;
  margin-left: auto;
  pointer-events: var(--agenda_pointer-event);
  transition: transform 0.7s;
  width: 90%;
  max-width: 25rem;
  font-size: min(max(0.7rem, 1vw), 1rem);
}
#maincont #hlp_ag_cont #agenda:before {
  content: "";
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
}
#maincont #hlp_ag_cont #agenda > div:first-child {
  --chemin_largeur: calc( min(calc(100vw * .95 * .9),25rem) );
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  margin: auto;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  margin: auto;
  text-align: center;
  width: 100%;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child {
  display: inline-block;
  position: relative;
  color: white;
  border-radius: 60%/30%;
  background-color: rgba(0, 0, 0, 0.7);
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  right: -0.2em;
  bottom: -0.2em;
  border-radius: 60%/30%;
  border: solid 0.4em white;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child div {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.5em;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child div span {
  display: block;
  line-height: 1.2;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau {
  display: grid;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--chemin_largeur);
  margin: auto;
  margin-top: 1.5rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div {
  display: flex;
  width: auto;
  height: auto;
  margin: 1px;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
  background-color: transparent;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(1), #maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(2), #maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(3), #maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(4), #maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(5), #maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(6), #maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div:nth-child(7) {
  border-width: max(0.4vw, 4px);
  border-radius: 10%;
  border-color: cornflowerblue;
  background-color: rgba(0, 0, 0, 0.4);
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div > div {
  display: inherit;
  width: 100%;
  height: 100%;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 10%;
  border-color: green;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div span {
  display: inherit;
  margin: auto;
  line-height: 1;
  font-size: min(max(0.55rem, 1.8vw), 0.8rem);
  font-weight: bold;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > #panneau > div > span {
  color: ghostwhite;
  line-height: 1;
  font-weight: 800;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes {
  position: relative;
  top: calc(var(--chemin_largeur) * 0.08);
  left: 0;
  width: 80%;
  margin: auto;
  color: black;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes div {
  margin-bottom: 2px;
  color: white;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-color: white;
  border-radius: 2%;
  /*background: #3C3B3F;*/ /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #605C3C, #3C3B3F);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-color: darkcyan;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes span {
  display: block;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes > span:last-child {
  color: white;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 2.5%;
  border-color: white;
  background: #FF416C; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes .remPer {
  animation: remPerAnim 0.5s forwards;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes .ajoutPer {
  animation: ajoutPerAnim 0.5s forwards;
}
@keyframes ajoutPerAnim {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes remPerAnim {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) {
  --triremplnext: 0%;
  --triremplback: 0%;
  --mycall-height: 0%;
  --button-width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  top: 100%;
  width: 50%;
  margin: auto;
  margin-top: 8%;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytriback {
  width: var(--button-width);
  height: var(--button-width);
  transform-origin: center;
  transform: translate(-10%) rotateZ(-180deg);
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytriback:active {
  transition: transform 0.1s;
  transform: rotateZ(-180deg) scale(0.8);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytriback #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  transition: clip-path 1s;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytrinext {
  width: var(--button-width);
  height: var(--button-width);
  transform: translate(10%);
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytrinext:active {
  transition: transform 0.1s;
  transform: translate(0) scale(0.8);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytrinext #path2416 {
  clip-path: polygon(0% var(--triremplnext), 100% var(--triremplnext), 100% 100%, 0% 100%);
  transition: clip-path 1s;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div {
  width: var(--button-width);
  height: var(--button-width);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div:active {
  transition: transform 0.1s;
  transform: translate(0) scale(0.8);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall {
  width: var(--button-width);
  height: var(--button-width);
  margin-left: 30%;
  transform-origin: center;
  transition: transform 5s;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /*    #rect1169 { // #objectcut {
      height: 0%;
      transform-origin: center;
      transform: rotateZ(180deg);
  }*/
  /*  #rect881, #path1527 {
      transform-origin: center;
      transition: transform 5s;
  }*/
  /*   #clipPath317 { //} #myPathrect {
      //     position:relative;
      transform-origin: center;
      //     transform: rotateZ(0deg);
      transition: transform 2s;
      //  transform:scale(2);
  }*/
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall #path512 {
  transition: all 4s;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein {
  /*  #rect881, #path1527 {
      transform: rotateZ(-360deg);
  }*/
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein #path512 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  /*  fill: black !important;
  stroke-width: 3px;
  visibility: hidden !important;*/
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide {
  /*  #rect881, #path1527 {
      transform: rotateZ(360deg);
  }*/
}
@keyframes aug-height {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes dim-height {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
#maincont .welcome_pay#payment {
  transform: none;
}
#maincont #payment {
  width: 90%;
  max-width: 35rem;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 2s transform;
  margin: 0 5% auto;
  position: relative;
  border-radius: 5px;
}
#maincont #payment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #payment > div:first-of-type {
  display: block;
  float: left;
  width: fit-content;
  margin: 0.2rem 0.5rem 0 0.5rem;
}
#maincont #payment > div:first-of-type img {
  position: relative;
  width: 4rem;
  height: 4rem;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px black);
}
#maincont #payment #lf {
  display: block;
  float: left;
  clear: left;
  margin-right: 0.5rem;
  text-indent: initial;
}
#maincont #payment #lf img {
  width: 4rem;
  height: 4rem;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #payment > span {
  display: block;
  position: relative;
  margin: 0.5rem;
  text-indent: 1rem;
}
#maincont #payment > div:last-of-type {
  margin: 0.5rem;
  margin-top: 1rem;
  text-indent: 1rem;
}
#maincont #payment > div:last-of-type span {
  font-size: 0.9em;
}
#maincont #payment > div:last-of-type span em {
  font-weight: bold;
}
#maincont #payment > div:last-of-type span span {
  display: block;
  position: relative;
  width: 80%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  font-style: italic;
}
#maincont #payment > div:last-of-type > div {
  width: auto;
  height: auto;
}
#maincont #reserv {
  display: flex;
  position: relative;
  width: 90%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  font-size: min(max(0.7rem, 1vw), 1.2rem);
}
#maincont #reserv > div:first-child {
  position: relative;
  width: 100%;
  height: fit-content;
}
#maincont #reserv > div:first-child #couv {
  --visib: "visible";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  /*  top: 0;*/
  opacity: var(--opres);
  transition: 1s opacity, 1s transform;
  transform: translate(calc(-1 * var(--trans) * 1%));
  pointer-events: var(--pointres);
  background-color: rgba(0, 0, 0, 0.05);
  visibility: var(--visib);
  user-select: none;
  border: solid white 1px;
  border-radius: 7px;
}
#maincont #reserv > div:first-child #couv:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: 2rem;
  border-top: solid rgba(255, 255, 255, 0.6) 1px;
  background: rgb(39, 133, 117);
  background: linear-gradient(90deg, rgb(39, 133, 117) 0%, rgb(44, 189, 56) 35%, rgb(105, 197, 28) 59%, rgb(0, 212, 255) 100%);
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
}
#maincont #reserv > div:first-child #couv:after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 2rem;
  border-left: solid rgba(255, 255, 255, 0.6) 1px;
  height: 100%;
  background: rgb(39, 133, 117);
  background: linear-gradient(180deg, rgb(39, 133, 117) 0%, rgb(44, 189, 56) 35%, rgb(105, 197, 28) 59%, rgb(0, 212, 255) 100%);
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
}
#maincont #reserv > div:first-child #couv img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  border: solid 1px;
  width: 30vw;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
}
#maincont #reserv > div:first-child #couv span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: fit-content;
  height: fit-content;
  color: white;
  border-radius: 5px;
  background-color: red;
}
#maincont #reserv > div:first-child:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #reserv > div:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
#maincont #reserv > div:first-child #pinterog {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 1s;
  z-index: 2;
  width: 6%;
  min-width: 2rem;
  /*&:active {
      transform:scale(.9) !important;
  }*/
}
#maincont #reserv > div:first-child #pinterog img {
  width: 100%;
}
#maincont #reserv > div:first-child #donnees {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: fit-content;
  max-width: 35rem;
}
#maincont #reserv > div:first-child #donnees img {
  width: 100%;
}
#maincont #reserv > div:first-child #donnees, #maincont #reserv > div:first-child #form {
  transition: opacity 1s;
}
#maincont #reserv > div:first-child #form {
  --displres: block;
  --pointres: initial;
  --opres: 1;
  --trans: 0;
  display: block;
  position: relative;
  width: 100%;
  max-width: 35rem;
  height: fit-content;
  margin: auto;
}
#maincont #reserv > div:first-child #form > :first-child {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 5px;
  position: relative;
  transition: 2s all;
  /*&:after {
      visibility: hidden;
      content: "";
      width: 100%;
      height: 10vw;
      // background-color: darkcyan;
      background-image: url(/item/envy.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 30;
      display: block;
      position: absolute;
      // top: 0;
      bottom: -10vw;
      left: 0;
      //  overflow-y: visible;*/
  /* top:0;
      transform:translate(10rem);*/
  /*}*/
  /*  ::-webkit-scrollbar-track {
      background-color: red;
      width: 16px;
  }*/
  /**/
}
#maincont #reserv > div:first-child #form > :first-child::-webkit-scrollbar {
  border-radius: 8px;
  background-color: whitesmoke;
}
#maincont #reserv > div:first-child #form > :first-child::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: black;
}
#maincont #reserv > div:first-child #form > :first-child label {
  display: block;
}
#maincont #reserv > div:first-child #form > :first-child label span {
  display: block;
  margin-left: 2vw;
  padding: 0.2rem 0;
  border-radius: 5px;
  line-height: 0.8rem;
  animation: spanmove 4s infinite alternate-reverse forwards;
}
@keyframes spanmove {
  /* from {
      transform: translate(0rem);
  }*/
  to {
    transform: translate(min(15rem, 40vw));
  }
}
#maincont #reserv > div:first-child #form > :first-child input, #maincont #reserv > div:first-child #form > :first-child textarea {
  display: block;
  width: 95%;
  margin: auto;
  border: outset 1px;
  border-radius: 5px;
  background-color: darkcyan;
}
#maincont #reserv > div:first-child #form > :first-child input::placeholder, #maincont #reserv > div:first-child #form > :first-child textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: lightskyblue;
  opacity: 1; /* Firefox */
}
#maincont #reserv > div:first-child #form > :first-child textarea {
  color: white;
  height: 5rem;
  line-height: 1.2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#maincont #reserv > div:first-child #form > :first-child label:first-of-type {
  padding-top: 1rem;
}
#maincont #reserv > div:first-child #form > :first-child label:first-of-type input {
  display: block;
}
#maincont #reserv > div:first-child #form > :first-child button {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: unset;
  padding: 0.5rem 0.8rem;
  border: solid 4px;
  border-radius: 5%/45%;
  background-color: darkcyan;
}
#maincont #reserv > div:first-child #form > :first-child .btn-wait {
  pointer-events: none;
  touch-action: none;
  --agenda_pointer-event: none;
  animation: attente 3s infinite;
}
@keyframes attente {
  from {
    background-color: #32de84;
  }
  50% {
    background-color: orange;
  }
  to {
    background-color: #32de84;
  }
}
#maincont #reserv > div:first-child > div:nth-child(5) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  scroll-behavior: smooth;
  border-radius: 10%/5%;
  animation: transpaye 2s forwards;
  height: 100%;
}
#maincont #reserv > div:first-child > div:nth-child(5)::-webkit-scrollbar {
  border-radius: 8px;
  background-color: whitesmoke;
}
#maincont #reserv > div:first-child > div:nth-child(5)::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: black;
}
@keyframes transpaye {
  from {
    width: 0;
    margin: 0;
  }
  to {
    width: 100%;
    max-width: 35rem;
    margin: auto;
  }
}
#maincont #reserv > div:first-child > div:nth-child(5) #mailcont {
  position: relative;
  top: 0;
  text-align: center;
  height: fit-content(100px);
}
#maincont #reserv > div:first-child > div:nth-child(5) #mailcont button {
  margin: 1em;
  font-size: 1em;
}
#maincont #reserv > div:first-child > div:nth-child(5) #contpaie {
  position: relative;
  top: 0;
}
#maincont #reserv > div:first-child > div:nth-child(5) #contpaie > div:first-of-type {
  position: relative;
  top: 0;
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
}
#maincont #reserv > div:first-child > div:nth-child(5) #contpaie > div:first-of-type > div:first-of-type {
  border-top-right-radius: 2vw;
  background-color: orange;
}
#maincont #reserv > div:first-child #avert {
  display: block;
  position: absolute;
  width: 90%;
  max-width: 25rem;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: black solid 1px;
  border-radius: 5px;
  padding: 1em;
  background-color: lightslategrey;
}
#maincont #reserv > div:first-child #avert span {
  display: block;
}
#maincont #reserv > div:first-child #avert button {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
  line-height: 1em;
  float: right;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/Users/sierr/source/repos/Kioxk/Kioxk/Client/Style/StyleSheet.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22AACA;EACY;EAEA;EACR;EACA;EACA;;;AAIJ;EACI;;;AAGJ;AAEI;AAAA;;;AAKJ;EACI;;;AA6CJ;EACI;EACA;EAGA;EAIA;EACA;EACA;AACA;AAAA;AAAA;AAAA;;;AAMJ;EACI;IACI;;;AAKR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;;;AAIR;EACI;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EAGA;;AAEA;EAEI;EACA;EACA;;AAEA;EACI;EACA;EAEA;EACA;EAGA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;;AAGA;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AASZ;EAIQ;IACI;;EAEA;IACI;IACA;IACA;IACA;;EAIJ;IACI;IACA;IACA;IACA;;EAKJ;IACI;IACA;IACA;IACA;;EAGJ;IACI;IACA;IACA;IACA;;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;;AAGJ;EACI;EACA;;AAIA;EACI;EACA;EACA;EACA;;AAIJ;EACI;EAEA;EACA;EACA;;AAMZ;EACI;EACA;EAEA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EAtOZ;;AAyOY;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;;AAMR;EACI;EAEA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAEA;EACI;EACA;;AAKZ;EACI;EACA;EACA;EACA;EArSZ;;AA2SY;EACI;EACA;;AAIJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAOR;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;;;AAQxB;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAIA;EACA;AAEA;AAAA;AAAA;AAAA;AAqiDA;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AA5hDA;EACI;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAGA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;EAUA;AAvcR;AAAA;AAAA;AAAA;;AA0cQ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAQJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EAMA;EAGA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AAEA;AAAA;AAAA;EAGA;EACA;;AAKR;EACI;EACA;EAKA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;AAGA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAaA;EACI;EACA;EACA;EAEA;EACA;EACA;;AAMJ;EAEI;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EAKA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;;AAUpB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;;AAhsBpB;EACI;EACA;;AAgsBgB;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;EAEA;;AAptBpB;EACI;EACA;;AAotBgB;EAEI;EACA;;AAYpB;EACI;EACA;EAIA;EACA;EACA;EACA;EACA;EAGA;EAEA;EAcA;;AAGA;EACI;EACA;EAEA;EACA;EACA;EACA;AAEA;AAAA;EAEA;EACA;EACA;EACA;EAEA;EACA;;AAKJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAOA;EACI;EAEA;EAIA;AACA;AACA;EACA;EACA;EACA;;AAMA;EACI;EACA;EAKA;EACA;EACA;;AAWpB;EACI;EACA;EACA;;AAGA;EACI;;AAGJ;EACI;EAEA;EACA;EAEA;EACA;EACA;EAEA;EAIA;EACA;;AAEA;EACI;EACA;AACA;AAAA;AAAA;EAGA;EACA;EACA;EAEA;EACA;EAEA;EACA;EACA;;AAKJ;EACI;;AAEA;EACI;EACA;EAEA;EAGA;EACA;;AAIA;EACI;EACA;;AAIA;EACI;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAOR;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAMA;EACI;;AASxB;EACI;EACA;EACA;EACA;EAEA;EACA;EACA;EAGA;EACA;EAKA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EAGA;EAEA;EACA;EAEA;;AAEA;EACI;EACA;EACA;EAGA;EAEA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;;AAIJ;EACI;EACA;EAEA;;AAEA;EACI;EAEA;;AAOZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAKA;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EAEI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EAEA;;AAOhB;EACI;EACA;EACA;EACA;EAEA;EACA;;AAKA;EACI;EACA;EACA;EACA;EACA;EACA;AACA;AACA;AACA;EACA;;AAGJ;EACI;;AAIJ;EACI;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKA;EACI;EACA;EACA;EACA;EAEA;;AAzsCpB;EACI;EACA;;AA0sCgB;EACI;EACA;;AAIR;EACI;EACA;EAEA;EACA;;AAvtCpB;EACI;EACA;;AAwtCgB;EACI;EACA;;AAIR;EACI;EACA;;AAluCpB;EACI;EACA;;AAouCgB;EACI;EACA;EACA;EACA;EACA;EACA;AAEA;AAAA;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAIA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAQA;EACI;EACA;;AAIJ;AAYI;AAAA;AAAA;;AATA;EACI;AAGA;AAAA;AAAA;;AAeR;AASI;AAAA;AAAA;;AAUJ;EACI;IAII;;EAGJ;IAGI;;;AAIR;EACI;IAEI;;EAGJ;IAEI;;;AAYhC;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EAGA;;AAGA;EACI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;;AAIJ;EACI;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EAx3CZ;;AA83CI;EACI;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EAx4CZ;;AA84CI;EACI;EACA;EACA;EACA;;AAIJ;EACI;EACA;EACA;;AAGA;EACI;;AAGA;EACI;;AAIJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKR;EACI;EACA;;AAKZ;EACI;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EAMA;;AAEA;EAEI;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AACA;EAIA;EACA;EACA;EACA;EAMA;EAEA;EACA;EACA;EACA;;AAEA;EACI;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EAEA;EACA;EACA;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAGA;EACA;;AAMR;EACI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EAKA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;AACA;AAAA;AAAA;;AAIA;EACI;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;;AAIR;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EAIA;EACA;EACA;EAMA;;AAKA;EACI;EACA;EACA;EAGA;EAUA;EACA;AACA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAkBA;AAAA;AAEA;AAWA;AAAA;AAAA;AAAA;AAIA;;AAbA;EACI;EACA;;AAGJ;EACI;EACA;;AAWJ;EACI;;AAIA;EACI;EACA;EACA;EAEA;EAEA;EAEA;;AAIA;AACI;AAAA;AAAA;EAIA;IACI;;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;;AAQR;EACI;EACA;EACA;EAEA;EACA;EACA;;AAOJ;EAII;;AAIA;EACI;;AAIR;EACI;EAIA;EACA;EACA;EACA;EACA;EAIA;EAGA;EACA;EAEA;;AAIJ;EACI;EACA;EACA;EACA;;AAGJ;EAEI;IACI;;EAGJ;IACI;;EAGJ;IACI;;;AAMhB;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;;AAIA;EACI;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;IACI;IACA;;EAGJ;IACI;IACA;IACA;;;AAIR;EACI;EACA;EACA;EAGA;;AACA;EAEI;EAGA;;AAIR;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;;AAMhB;EACI;EACA;EAIA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;AAEA;EACI;;AAIJ;EAEI;EACA;EACA;EACA;EACA;EACA%22%7D */