@charset "UTF-8";
:root {
  /*    @import url('/photo/legend/iFrameSs.css');
      //  @import url('https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap');
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
  */
  --maincontchild-width-percent: 50;
  --main-height: 100;
  --doc-height: 100%;
}

/** {
    margin: 0;
    padding: 0;
}*/
body {
  overflow-x: hidden;
  will-change: background-color;
  transition: background-color 0.5s linear;
}

html {
  /* overflow-x: hidden;
  overflow-y: visible;*/
}

body, html {
  font-family: "Unbounded", cursive;
  margin: 0;
  padding: 0;
  background-color: orange;
  user-select: none;
}

*, *::before, *::after {
  box-sizing: border-box;
}

/*button {
    cursor: pointer;
}*/
/** {
    color:green;

    --webkit-tap-highlight-color: rgba(0, 0, 0, 0) ;

    -webkit-tap-highlight-color: transparent;*/
/*tap-highlight-color: transparent;*/
/*}*/
button, div[role=button], svg[role=button] {
  cursor: pointer;
}
button:not(#mail, #tel, .element), div[role=button]:not(#mail, #tel, .element), svg[role=button]:not(#mail, #tel, .element) {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/** {
    &:not(#mail) {
        -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
        -webkit-tap-highlight-color: transparent;
    }
}*/
/*ul, ol, li {
    margin: 0;
    padding: 0;
    list-style: none;
}*/
a {
  color: inherit;
  text-decoration: none;
}

/*img#land {
    display:none;
    position: fixed;
    z-index: 0;
    // height: 58%;
 //   display:none;
    width: 150vh;
    //  max-width:1900px;
    //height:vh;
    // margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);*/
/* top: 0;
    left: 0;
    right: 0;
    bottom: 0;*/
/*}

@media screen and (orientation:landscape) {
    img#land {
        width: 65vw;
        //  max-width: 1000px;
    }
}*/
/*svg#go {////////
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;////
    margin:auto;
    left:0;right:0;//bottom:0;
    height: 14vw;
    width: 14vw;
    min-width: 100px;
    min-height: 100px;
    filter: drop-shadow(0px 0px 1px rgba(0,0,0,1));
    transition: transform .2s linear;
    //  background-color: green;

    &:active {
        width: 13.5vw;
        left: 10.6vw;
    }
}*/
#header {
  --item_contact_size: max(4rem,5vw);
  position: relative;
  width: 100%;
}
#header > div:first-of-type {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
@media screen and (max-width: 500px) {
  #header > div:first-of-type #lambcont svg {
    width: 11.1111111111% !important;
    /*      &:nth-of-type(5) {
        visibility: hidden;
        margin-top: var(--margin_top);
        margin-left: .5vw;
        transform-origin: left;
        transform: rotateY(340deg);
        //   position: fixed; //
    }

    &:nth-of-type(6) {
        visibility: hidden;
        margin-top: var(--margin_top);
        margin-right: .5vw;
        transform-origin: right;
        transform: rotateY(20deg);
        //    position: fixed; //
    }


    &:nth-of-type(10) {
        visibility: visible;
        margin-top: 0;
        margin-right: 0;
        transform-origin: initial;
        transform: none;
    }

    &:nth-of-type(11) {
        visibility: visible;
        margin-top: 0;
        margin-right: 0;
        transform-origin: initial;
        transform: none;
    }*/
  }
}
#header > div:first-of-type #lambcont {
  z-index: 2;
  position: relative;
  bottom: -100%;
  display: flex;
  width: 100%;
  height: 1rem;
  /*perspective: 25vw;
  perspective-origin: top;*/
}
#header > div:first-of-type svg {
  width: 5% !important;
  height: fit-content !important;
  /*    &:nth-of-type(10) {
      margin-top: var(--margin_top); //4.5rem;
      margin-right: .5vw;
      transform-origin: left;
      transform: rotateY(340deg);
      visibility: hidden;
      //  position: fixed; //
  }

  &:nth-of-type(11) {
      margin-top: var(--margin_top);
      // margin-top: 4.5rem;
      margin-left: .5vw;
      transform-origin: right;
      transform: rotateY(20deg);
      visibility: hidden;
      //  position: fixed; //
  }*/
}
#header #contact {
  width: 100%;
  height: 100%;
  font-size: max(0.5rem, 1.2vw);
  position: fixed;
  z-index: 4;
  pointer-events: none;
}
#header #contact nav {
  display: flex;
  z-index: 2;
  position: relative;
  top: 1px;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  pointer-events: all;
}
#header #contact nav > div:first-of-type {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  align-items: center;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
  /* &:focus div:first-of-type {
      border-bottom-right-radius: 50% 10%;
      border-top-right-radius: 50% 10%;
      border-bottom-left-radius: 50% 50%;
      border-top-left-radius: 50% 50%;
      background-color: chartreuse;
  }*/
}
#header #contact nav > div:first-of-type div:first-of-type {
  transition: all 0.5s;
  background-color: black;
  border-radius: 25%;
  /* display: flex;
  align-content: center;*/
  height: var(--item_contact_size);
}
#header #contact nav > div:first-of-type div:first-of-type img {
  width: var(--item_contact_size);
  height: var(--item_contact_size);
  filter: sepia(100%) hue-rotate(30deg);
}
#header #contact nav > div:first-of-type:focus div:last-of-type {
  width: 9em;
  background-color: white;
}
#header #contact nav > div:first-of-type div:last-of-type {
  display: flex;
  flex-wrap: wrap;
  z-index: -1;
  position: relative;
  width: 0.3rem;
  height: var(--item_contact_size);
  overflow: hidden;
  text-align: center;
  align-content: center;
  border: solid 1px;
  border-bottom-right-radius: 5% 10%;
  border-top-right-radius: 5% 10%;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
  transition: all 0.5s;
}
#header #contact nav > div:first-of-type div:last-of-type a {
  position: absolute;
  height: fit-content;
  right: 1em;
  top: 0;
  bottom: 0;
  margin: auto;
}
#header #contact nav > div:last-of-type {
  display: flex;
  position: relative;
  width: fit-content;
  height: fit-content;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
  /*   &:focus div:last-of-type {
      border-bottom-left-radius: 50% 10%;
      border-top-left-radius: 50% 10%;
      border-bottom-right-radius: 50% 50%;
      border-top-right-radius: 50% 50%;
      background-color: chartreuse;
  }*/
}
#header #contact nav > div:last-of-type:focus div:first-of-type {
  position: relative;
  width: 14em;
}
#header #contact nav > div:last-of-type div:first-of-type {
  display: flex;
  flex-wrap: wrap;
  width: 0.3rem;
  height: var(--item_contact_size);
  overflow: hidden;
  align-content: center;
  text-align: center;
  border: solid 1px;
  border-bottom-left-radius: 5% 10%;
  border-top-left-radius: 5% 10%;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
  transition: width 0.5s;
  background-color: white;
}
#header #contact nav > div:last-of-type div:first-of-type a {
  position: relative;
  margin: auto;
}
#header #contact nav > div:last-of-type div:last-of-type {
  position: relative;
  top: 0;
  right: 0;
  height: var(--item_contact_size);
  transition: all 0.5s;
  background-color: white;
  border-radius: 5px;
}
#header #contact nav > div:last-of-type div:last-of-type img {
  width: var(--item_contact_size);
  height: var(--item_contact_size);
}

#louCont {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  /*    position:absolute;
          margin:auto; top:0;left:0;right:0;bottom:0;*/
}
#louCont h1 {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: fit-content;
  height: fit-content;
  margin: auto;
  color: white;
  font-size: max(2rem, 2.5vw);
  font-weight: 800;
  font-family: "Montserrat", sans-serif;
}
#louCont h1::before {
  position: absolute;
  z-index: -1;
  width: 110%;
  height: 105%;
  backdrop-filter: blur(1px);
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 1rem;
}
#louCont h1 em {
  position: relative;
  margin-left: min(19.2vw, 16rem);
  font-style: normal;
  color: white;
}

#reseaux #fb {
  position: absolute;
  top: 75%;
  right: 2px;
  transform: translateY(-50%);
  /*  width: 10vw;
  height: 10vw;
  background-color: green;*/
}
#reseaux #fb img {
  width: 4rem;
  height: 4rem;
}

#footer {
  position: sticky;
  bottom: 0;
  width: 100%;
  height: fit-content;
  text-align: center;
  font-size: max(0.7rem, 1vw);
  background: #3C3B3F;
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  background: orange;
  /*   &:before {
      content: "Siret: 299792458ms \A - Webmaster Freelance - sierra-echo@msn.com";
      white-space: pre-wrap;
      // display: block;//;
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      left: 0;
      width: fit-content;
      height: fit-content;
      margin: auto;
      //   background-color: grey;

      em {
          color: blue;
      }
  }*/
}

/*img#chal {
    width:40vw;
    min-width:16rem;
   // height:100%;
    position:absolute;
    top:55%;
    left:50%;
    transform:translate(-50%,-50%);
    animation: round 5s infinite;
    @keyframes round {
        from {
            transform: translate(-50%,-50%) rotate(0deg);
        }
        to {
            transform: translate(-50%,-50%) rotate(360deg);
        }
    }
}*/
#maincont {
  --maincont-width: 95%;
  --child-width: calc(var(--maincont-width)/100 * var(--maincontchild-width-percent));
  display: flex;
  flex-wrap: wrap;
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  width: var(--maincont-width);
  height: fit-content;
  margin: auto;
  margin-top: 100vh;
  margin-bottom: 3vw;
  row-gap: 10vw;
  border-radius: 2.5%/5%;
  /* background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;*/
  /*@media screen and (max-width:500px) {
      #reserv {
          margin-bottom: max(3.3rem,6vw);

          > div:first-child { // cont p
              width: 95%;
              height: 100%;

              #form {
                  left: 0%;
                  width: 100%;

                  &::after { // couv
                      transform: translateY(calc(var(--trans)*1%));
                  }
              }

              > div:nth-child(2) { //cont recap + paie contscrooljs
                  left: 0;
                  width: 100%;
                  animation: transpaye-y 2s forwards;

                  @keyframes transpaye-y {
                      from {
                          height: 0;
                          top: 100%;
                      }

                      to {
                          top: 0;
                          height: 100%;
                      }
                  }
              }

              #avert { //dispavert
                  top: 55%;
                  left: 0;
                  width: 60%;
                  height: fit-content;
                  margin: auto;
                  font-size: 1rem;
                  background-color: yellow;
              }
          }
      }
  }*/
}
#maincont #ph_pre_cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#maincont #ph_pre_cont #photos {
  z-index: 3;
  --cp_mult-h: 1;
  --mult_ph-scale: 1;
  --trans-height: 0%;
  --photo-width: var(--child-width);
  --photo-height: calc(var(--main-height) * 1%);
  --cp_ph-y: calc(max(var(--photo-width),var(--max_size)) /2 );
  --max_size: 30rem;
  --chemin_width_carre: calc(.08 * (min(calc(95vw * .9), var(--max_size))));
  display: flex;
  margin: 5%;
  position: relative;
  left: 0;
  right: 0;
  top: 0;
  width: 90%;
  max-width: var(--max_size);
  height: fit-content;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
  /* 
   * https://developer.mozilla.org/en-US/docs/Web/CSS/@media/pointer 
   * coarse: The primary input mechanism includes a pointing device of limited accuracy.
   */
}
#maincont #ph_pre_cont #photos:before {
  content: "";
  width: 110%;
  height: 110%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #ph_pre_cont #photos > div:first-child {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: fit-content;
  padding: 1.13em 0;
  margin: auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
#maincont #ph_pre_cont #photos > div:first-child .carre {
  z-index: 2;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 8%;
  height: var(--chemin_width_carre);
  border: min(0.25rem, 1vw) solid white;
  border-radius: 10%;
  transition: 0.1s all;
}
#maincont #ph_pre_cont #photos > div:first-child .carre:active {
  transform: scale(0.8);
  background-color: mediumspringgreen;
}
#maincont #ph_pre_cont #photos > div:first-child .carre .carre2 {
  position: absolute;
  display: block;
  top: 0;
  right: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  border: inherit;
  opacity: 0.5;
  transition: 1s all;
}
#maincont #ph_pre_cont #photos > div:first-child span:nth-of-type(1) {
  z-index: 1;
  position: absolute;
  top: 5%;
  left: 0;
  right: 0;
  width: 10rem;
  margin: auto;
  font-weight: 900;
  text-align: center;
  color: black;
}
#maincont #ph_pre_cont #photos > div:first-child span:nth-of-type(1):before {
  content: "";
  z-index: -1;
  width: 100%;
  height: 128%;
  background-color: rgba(255, 255, 255, 0.8);
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  bottom: 0;
  /* top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);*/
  border-radius: 10px;
  filter: blur(3px);
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) {
  display: flex;
  width: 100%;
  align-content: center;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs {
  --phpc: "0";
  --phpx: 0;
  --qte_ph: 0;
  --before_width: 70%;
  --before_bottom: "unset";
  display: flex;
  flex-shrink: 0;
  position: relative;
  width: calc(100% * var(--qte_ph));
  height: fit-content;
  margin: auto;
  align-items: center;
  will-change: transform;
  transition: transform linear 0.5s;
  transform: translate(calc(var(--phpc) * 1% + var(--phpx) * 1px));
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div {
  width: 100%;
  height: fit-content;
  position: relative;
  /*     &:before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 10%;
      left: 0vw;
      width: 90%;
      height: 100%;
      border-radius: 1vw;
      //  clip-path: polygon(0% 25%, 25% 0%, 100% 0%, 100% 75%,75% 100%, 25% 100%, 0% 75%);
      background-color: rgba(black,.8);
  }*/
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div img {
  position: relative;
  width: 100%;
  height: auto;
  margin: auto;
  display: block;
  border-radius: 10px;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div > div {
  position: absolute;
  width: 100%;
  height: 1rem;
  /*       &::before {
      content: "";
      width: var(--before_width);
      height: 1.2rem;
      bottom: var(--before_bottom);
      filter: blur(3px);
      //     top:0;
      // left:0;
      //  z-index:22;
      //   display:block;
      position: absolute;
      margin: auto;
      left: 0;
      right: 0;
      bottom: var(--before_bottom);
      background-color: white;
  }*/
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div > div div {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  width: 90%;
  height: 1rem;
  margin: auto;
}
#maincont #ph_pre_cont #photos > div:first-child > div:nth-of-type(2) #contPhAloneJs > div > div div div {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: fit-content;
  width: fit-content;
  text-align: center;
  font-weight: bold;
  font-size: min(max(0.5rem, 4vw), 0.6rem);
  color: black;
  font-family: "Unbounded", cursive;
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child {
  --triremplback: 0%;
  --triremplnext: 0%;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  pointer-events: none;
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child #mytriback {
  position: absolute;
  left: 0;
  top: 50%;
  width: 10%;
  max-width: 3rem;
  height: fit-content;
  transform-origin: center;
  transform: translateY(-50%) rotateZ(-180deg);
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
  pointer-events: all;
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child #mytriback:active {
  transition: transform 0.1s;
  transform: translateY(-50%) rotateZ(-180deg) scale(0.8);
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child #mytriback #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  will-change: clip-path;
  transition: clip-path linear 1s;
  fill: orange !important;
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child #mytrinext {
  position: absolute;
  top: 50%;
  right: 0;
  width: 10%;
  max-width: 3rem;
  height: fit-content;
  transform: translateY(-50%);
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
  pointer-events: all;
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child #mytrinext:active {
  transition: transform 0.1s;
  transform: translateY(-50%) scale(0.8);
}
#maincont #ph_pre_cont #photos > div:first-child nav:last-child #mytrinext #path2416 {
  clip-path: polygon(0% var(--triremplnext), 100% var(--triremplnext), 100% 100%, 0% 100%);
  will-change: clip-path;
  transition: clip-path linear 1s;
  fill: orange !important;
}
#maincont #ph_pre_cont #pretext {
  --my_background-color: orange;
  z-index: 3;
  display: flex;
  position: relative;
  width: 90%;
  height: fit-content;
  margin: 5% auto 0 auto;
  align-self: center;
  transition: 2s transform;
  max-width: 25rem;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
}
#maincont #ph_pre_cont #pretext:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 0;
  /*     left:2.5rem;
  right:2.5rem;*/
  width: calc(100% + 2vw);
  height: calc(100% + 2vw);
  filter: blur(5px);
  backdrop-filter: blur(5px);
  border-radius: 50px;
  background-color: rgba(255, 255, 255, 0.5);
}
#maincont #ph_pre_cont #pretext > div:first-child {
  display: block;
  position: relative;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  margin: auto;
}
#maincont #ph_pre_cont #pretext > div:first-child > div {
  width: 100%;
  margin: auto;
  position: relative;
  /*margin-top: .5rem;*/
  /*   margin-bottom: .5rem;*/
  border: solid white 1px;
  border-radius: 50px;
  background: var(--my_background-color);
  opacity: 0.7;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div {
  width: 100%;
  position: relative;
  display: block;
  border: none;
  transition: height 0.5s;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont {
  background: red;
}
@media (hover: hover) and (pointer: fine) {
  #maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont {
    /* Styles spécifiques pour les périphériques utilisant une souris */
  }
  #maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont iframe {
    display: block !important;
    margin-top: -0.2vw;
  }
  #maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont iframe:hover {
    width: max(8rem, 20vw);
    height: max(8rem, 20vw);
  }
  #maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont a {
    display: none;
  }
}
@media (hover: none) and (pointer: coarse) {
  #maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont iframe {
    display: none;
  }
  #maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont a {
    display: block;
  }
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont iframe {
  float: left;
  position: relative;
  width: max(4rem, 10vw);
  height: max(4rem, 10vw);
  margin-left: 2vw;
  padding: 0.3rem;
  border-radius: 100%;
  shape-outside: margin-box;
  border: solid white 2px;
  transition: width 1s, height 1s;
  transform: translate(-1rem);
  filter: drop-shadow(3px 3px 3px black);
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont a {
  float: left;
  position: relative;
  width: max(4rem, 10vw);
  height: max(4rem, 10vw);
  margin-left: 2vw;
  padding: 0.3rem;
  border-radius: 100%;
  shape-outside: margin-box;
  border: solid white 2px;
  transform: translate(-1rem);
  filter: drop-shadow(3px 3px 3px black);
  background-color: rgba(0, 0, 0, 0.1);
  overflow: hidden;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #mapcont a img {
  width: 100%;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont p {
  /*    background: rgb(2,0,36);
      background: rgb(2,0,36);
      background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(14,17,16,1) 55%, rgba(0,212,255,1) 100%);
  */
  padding-right: 1rem;
  /* -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;*/
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #seb {
  color: white;
  font-weight: 100;
  letter-spacing: 0.1rem;
  width: 100%;
  height: fit-content;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont #seb p {
  padding-top: 3vw;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont div {
  /*text-align:center;*/
  width: fit-content;
  height: fit-content;
  color: white;
  font-weight: 100;
  margin-left: 1vw;
}
#maincont #ph_pre_cont #pretext > div:first-child > div > div #cont p#text {
  margin-left: 1em;
}
#maincont #hlp_ag_cont {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
#maincont #hlp_ag_cont .welcome_hlp#hlp {
  transform: none;
}
#maincont #hlp_ag_cont #hlp {
  width: 90%;
  z-index: 3;
  height: fit-content;
  position: relative;
  transition: 1s transform;
  transform: translate(-100vw);
  display: flex;
  margin: 5%;
  max-width: 30rem;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
}
#maincont #hlp_ag_cont #hlp:before {
  content: "";
  position: absolute;
  /*  top:0;
  left:0;
  display:block;*/
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #hlp_ag_cont #hlp > div:first-child {
  width: 100%;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child {
  width: 100%;
  height: auto;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.9);
  position: relative;
  padding: 1vw;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child h1 {
  display: inline;
  font-size: 1.1em;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div {
  display: flex;
  position: relative;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div > div {
  flex-shrink: 0;
  width: max(3vw, 2rem);
  height: max(3vw, 2rem);
  margin: 0.2em 0;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div > div div {
  display: flex;
  position: relative;
  height: 100%;
  justify-content: center;
  align-items: center;
  background-color: red;
  border-radius: 5px;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div > span {
  position: relative;
  margin: auto 0;
  margin-left: 0.5rem;
  font-size: 0.95em;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div svg {
  width: max(3vw, 2rem);
  height: max(3vw, 2rem);
  filter: drop-shadow(2px 2px 1.3px black);
  flex-shrink: 0;
  margin: auto 0;
}
#maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div:nth-child(7) > div div:not(#elementContainerPhantom), #maincont #hlp_ag_cont #hlp > div:first-child > div:first-child > div:nth-child(8) > div div:not(#elementContainerPhantom) {
  border: solid 0.3em;
}
#maincont #hlp_ag_cont #agenda {
  --calendar-width: max(calc(var(--child-width) / 1),23rem);
  --agenda_pointer-event: initial;
  z-index: 5;
  position: relative;
  height: fit-content;
  margin: 5%;
  margin-left: auto;
  pointer-events: var(--agenda_pointer-event);
  transition: transform 0.7s;
  width: 90%;
  max-width: 25rem;
  font-size: min(max(0.7rem, 1vw), 1rem);
}
#maincont #hlp_ag_cont #agenda:before {
  content: "";
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(2px);
}
#maincont #hlp_ag_cont #agenda > div:first-child {
  --chemin_largeur: calc( min(calc(100vw * .95 * .9),25rem) );
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: fit-content;
  margin: auto;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar {
  position: relative;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 80%;
  margin: auto;
  text-align: center;
  width: 100%;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child {
  display: inline-block;
  position: relative;
  color: white;
  border-radius: 60%/30%;
  background-color: rgba(0, 0, 0, 0.7);
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child #month_overlay {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 60%/30%;
  transition: opacity 0.5s;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child #month_overlay span {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: fit-content;
  height: fit-content;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child::before {
  content: "";
  position: absolute;
  top: -0.2em;
  left: -0.2em;
  right: -0.2em;
  bottom: -0.2em;
  border-radius: 60%/30%;
  border: solid 0.4em white;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child div {
  display: inline-block;
  text-align: center;
  padding: 0.5em 1.5em;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar > :first-child div span {
  display: block;
  line-height: 1.2;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau {
  display: grid;
  position: relative;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: var(--chemin_largeur);
  margin: auto;
  margin-top: 1.5rem;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  /*      .element {
      position:absolute;
      width:100%;
      height:100%;
      background-color: rgba(0,0,0,.2);
  }*/
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau #panneau_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  transition: opacity 0.5s;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau .weekDay {
  display: flex;
  width: auto;
  height: auto;
  margin: 1px;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 10%;
  background-color: rgba(0, 0, 0, 0.4);
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau .weekDay span {
  display: inherit;
  color: ghostwhite;
  line-height: 1;
  margin: auto;
  font-weight: 800;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau .element {
  display: flex;
  width: auto;
  height: auto;
  margin: 1px;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau .element #elementContainer {
  display: inherit;
  width: 100%;
  height: 100%;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 10%;
  border-color: green;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau .element #elementContainer span {
  display: inherit;
  margin: auto;
  line-height: 1;
  font-size: min(max(0.55rem, 1.8vw), 0.8rem);
  font-weight: bold;
}
#maincont #hlp_ag_cont #agenda > div:first-child #calendar #panneau .element #elementContainer #elementContainerPhantom {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes {
  position: relative;
  top: calc(var(--chemin_largeur) * 0.08);
  left: 0;
  width: 80%;
  margin: auto;
  color: black;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes div {
  margin-bottom: 2px;
  color: white;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-color: gold;
  border-radius: 2%;
  /*background: #3C3B3F;*/ /* fallback for old browsers */
  /*background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);*/ /* Chrome 10-25, Safari 5.1-6 */
  /*background: linear-gradient(to right, #605C3C, #3C3B3F);*/ /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes span {
  display: block;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes > span:last-child {
  color: black;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 2.5%;
  border-color: white;
  background: mediumspringgreen;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes .remPer {
  animation: remPerAnim 0.5s forwards;
}
#maincont #hlp_ag_cont #agenda > div:first-child #periodes .ajoutPer {
  animation: ajoutPerAnim 0.5s forwards;
}
@keyframes ajoutPerAnim {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes remPerAnim {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) {
  --triremplnext: 0%;
  --triremplback: 0%;
  --button-width: 100%;
  display: flex;
  z-index: 1;
  position: relative;
  top: 100%;
  width: 50%;
  margin: auto;
  margin-top: 8%;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytriback {
  width: var(--button-width);
  height: var(--button-width);
  transform-origin: center;
  transform: translate(-10%) rotateZ(-180deg);
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytriback:active {
  transition: transform 0.1s;
  transform: rotateZ(-180deg) scale(0.8);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytriback #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  transition: clip-path 1s;
  fill: orange !important;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytrinext {
  width: var(--button-width);
  height: var(--button-width);
  transform: translate(10%);
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytrinext:active {
  transition: transform 0.1s;
  transform: translate(0) scale(0.8);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) #mytrinext #path2416 {
  clip-path: polygon(0% var(--triremplnext), 100% var(--triremplnext), 100% 100%, 0% 100%);
  transition: clip-path 1s;
  fill: orange !important;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div {
  width: var(--button-width);
  height: var(--button-width);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div:active {
  transition: transform 0.1s;
  transform: translate(0) scale(0.8);
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall {
  width: var(--button-width);
  height: var(--button-width);
  margin-left: 30%;
  transform-origin: center;
  transition: transform 5s;
  filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.7));
  /*    #rect1169 { // #objectcut {
      height: 0%;
      transform-origin: center;
      transform: rotateZ(180deg);
  }*/
  /*  #rect881, #path1527 {
      transform-origin: center;
      transition: transform 5s;
  }*/
  /*   #clipPath317 { //} #myPathrect {
      //     position:relative;
      transform-origin: center;
      //     transform: rotateZ(0deg);
      transition: transform 2s;
      //  transform:scale(2);
  }*/
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall #path512 {
  transition: all 4s;
  clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  fill: orange !important;
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein {
  /*  #rect881, #path1527 {
      transform: rotateZ(-360deg);
  }*/
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein #path512 {
  clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  /*  fill: black !important;
  stroke-width: 3px;
  visibility: hidden !important;*/
}
#maincont #hlp_ag_cont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide {
  /*  #rect881, #path1527 {
      transform: rotateZ(360deg);
  }*/
}
@keyframes aug-height {
  from {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
}
@keyframes dim-height {
  from {
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
  }
  to {
    clip-path: polygon(0% 100%, 100% 100%, 100% 100%, 0% 100%);
  }
}
#maincont .welcome_pay#payment {
  transform: none;
}
#maincont #payment {
  width: 90%;
  max-width: 35rem;
  font-size: min(max(0.8rem, 1vw), 1.6rem);
  height: fit-content;
  background-color: rgba(255, 255, 255, 0.9);
  transition: 2s transform;
  margin: 0 5% auto;
  position: relative;
  border-radius: 5px;
  z-index: 3;
}
#maincont #payment:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #payment #pl {
  display: block;
  float: left;
  width: fit-content;
  height: fit-content;
  margin: 0.2rem 0.5rem 0 0.5rem;
}
#maincont #payment #pl a {
  display: block;
  line-height: 0;
  /*  width: 4rem;
  height: 4rem;*/
  /* width: fit-content;
  height: fit-content;*/
  /* width: 100%;
  height: 100%;*/
}
#maincont #payment #pl a img {
  width: 4rem;
  height: 4rem;
}
#maincont #payment #lf {
  display: block;
  float: left;
  clear: left;
  margin-right: 0.5rem;
  text-indent: initial;
}
#maincont #payment #lf a {
  /*   width: 100%;
  height: 100%;*/
  /*    width: 4rem;
  height: 4rem;*/
  display: block;
  line-height: 0;
}
#maincont #payment #lf a img {
  /* padding: 0;
  margin: 0;*/
  /*    position: relative;
  top: 0;
  left: 0;*/
  width: 4rem;
  height: 4rem;
}
#maincont #payment > span {
  display: block;
  position: relative;
  margin: 0.5rem;
  text-indent: 1rem;
  z-index: -1;
}
#maincont #payment > div:last-of-type {
  margin: 0.5rem;
  margin-top: 1rem;
  text-indent: 1rem;
}
#maincont #payment > div:last-of-type span {
  font-size: 0.9em;
}
#maincont #payment > div:last-of-type span em {
  font-weight: bold;
}
#maincont #payment > div:last-of-type span span {
  display: block;
  position: relative;
  width: 80%;
  margin-top: 2rem;
  margin-left: auto;
  margin-right: 0;
  text-align: center;
  font-style: italic;
}
#maincont #payment > div:last-of-type > div {
  width: auto;
  height: auto;
}
#maincont #reserv {
  --input_color: orange;
  display: flex;
  position: relative;
  width: 90%;
  height: fit-content;
  justify-content: center;
  align-items: center;
  margin: auto;
  margin-top: 5%;
  z-index: 5;
  font-size: min(max(0.7rem, 1vw), 1.2rem);
}
#maincont #reserv > div:first-child {
  position: relative;
  width: 100%;
  height: fit-content;
}
#maincont #reserv > div:first-child #couv {
  --visib: "visible";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  z-index: 2;
  /*  top: 0;*/
  opacity: var(--opres);
  transition: 1s opacity, 1s transform;
  transform: translate(calc(-1 * var(--trans) * 1%));
  pointer-events: var(--pointres);
  background-color: rgba(0, 0, 0, 0.05);
  visibility: var(--visib);
  border: solid white 1px;
  border-radius: 7px;
  /*   &:before {
      content: "";
      //   z-index: 2;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 100%;
      height: 2rem;
      border-top: solid rgba(white,.6) 1px;
      background: rgb(39,133,117);
      //    background: linear-gradient(90deg, rgba(39,133,117,1) 0%, rgba(44,189,56,1) 35%, rgba(105,197,28,1) 59%, rgba(0,212,255,1) 100%);
      background: $color;
      filter: drop-shadow(1px 1px 1.2px rgba(0,0,0,.5));
  }

  &:after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      margin: auto;
      width: 2rem;
      // border: solid 1px;
      border-left: solid rgba(white,.6) 1px;
      height: 100%;
      // border: solid 1px;
      background: rgb(39,133,117);
      //   background: linear-gradient(180deg, rgba(39,133,117,1) 0%, rgba(44,189,56,1) 35%, rgba(105,197,28,1) 59%, rgba(0,212,255,1) 100%);
      background: $color;
      filter: drop-shadow(1px 1px 1.2px rgba(0,0,0,.5));
  }*/
}
#maincont #reserv > div:first-child #couv img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  border-radius: 5px;
  border: solid 1px;
  width: 30vw;
  max-width: 200px;
  height: auto;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
}
#maincont #reserv > div:first-child #couv span {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  display: block;
  width: fit-content;
  height: fit-content;
  color: white;
  border-radius: 5px;
  background-color: red;
}
#maincont #reserv > div:first-child:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  width: calc(100% + 5vw);
  height: calc(100% + 5vw);
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(4px);
  border: solid 1px;
  border-radius: 5px;
}
#maincont #reserv > div:first-child:after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 5px;
}
#maincont #reserv > div:first-child #pinterog {
  position: absolute;
  top: 0;
  right: 0;
  transition: all 1s;
  z-index: 2;
  width: 6%;
  min-width: 2rem;
  /*&:active {
      transform:scale(.9) !important;
  }*/
}
#maincont #reserv > div:first-child #pinterog img {
  width: 100%;
  height: auto;
}
#maincont #reserv > div:first-child #donnees {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 90%;
  height: fit-content;
  max-width: 35rem;
}
#maincont #reserv > div:first-child #donnees img {
  width: 100%;
  height: auto;
}
#maincont #reserv > div:first-child #donnees, #maincont #reserv > div:first-child #form {
  transition: opacity 1s;
}
#maincont #reserv > div:first-child #form {
  --pointres: initial;
  --opres: 1;
  --trans: 0;
  display: block;
  position: relative;
  width: 100%;
  max-width: 35rem;
  height: fit-content;
  margin: auto;
}
#maincont #reserv > div:first-child #form > :first-child {
  height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 5px;
  position: relative;
  /*&:after {
      visibility: hidden;
      content: "";
      width: 100%;
      height: 10vw;
      // background-color: darkcyan;
      background-image: url(/item/envy.svg);
      background-size: cover;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      z-index: 30;
      display: block;
      position: absolute;
      // top: 0;
      bottom: -10vw;
      left: 0;
      //  overflow-y: visible;*/
  /* top:0;
      transform:translate(10rem);*/
  /*}*/
  /*  ::-webkit-scrollbar-track {
      background-color: red;
      width: 16px;
  }*/
  /**/
}
#maincont #reserv > div:first-child #form > :first-child::-webkit-scrollbar {
  border-radius: 8px;
  background-color: whitesmoke;
}
#maincont #reserv > div:first-child #form > :first-child::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: black;
}
#maincont #reserv > div:first-child #form > :first-child label {
  display: block;
  user-select: text;
}
#maincont #reserv > div:first-child #form > :first-child label span {
  display: block;
  margin-left: 2vw;
  padding: 0.2rem 0;
  border-radius: 5px;
  line-height: 0.8rem;
  animation: spanmove 4s infinite ease-in alternate-reverse forwards;
}
@keyframes spanmove {
  /* from {
      transform: translate(0rem);
  }*/
  to {
    transform: translate(0.8rem);
    /*transform: translate(min(15rem,40vw));*/
  }
}
#maincont #reserv > div:first-child #form > :first-child label:first-of-type {
  padding-top: 1rem;
}
#maincont #reserv > div:first-child #form > :first-child input, #maincont #reserv > div:first-child #form > :first-child textarea {
  display: block;
  width: 95%;
  margin: auto;
  border: outset 1px;
  border-radius: 5px;
  background: var(--input_color);
  font-family: inherit;
}
#maincont #reserv > div:first-child #form > :first-child input::placeholder, #maincont #reserv > div:first-child #form > :first-child textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 0.8; /* Firefox */
  font-size: 0.9em;
}
#maincont #reserv > div:first-child #form > :first-child textarea {
  resize: none;
  color: white;
  height: 5rem;
  line-height: 1.2em;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
#maincont #reserv > div:first-child #form > :first-child button {
  display: block;
  position: relative;
  margin: auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: unset;
  font-family: inherit;
  font-weight: 100;
  padding: 0.5rem 0.8rem;
  border: solid 3px;
  border-radius: 5%/45%;
  background-color: orange;
}
#maincont #reserv > div:first-child #form > :first-child .btn-wait {
  pointer-events: none;
  touch-action: none;
  --agenda_pointer-event: none;
  animation: attente 3s infinite;
}
@keyframes attente {
  from {
    background-color: #32de84;
  }
  50% {
    background-color: orange;
  }
  to {
    background-color: #32de84;
  }
}
#maincont #reserv > div:first-child #contscrollJs {
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  overflow-y: auto;
  /*  scroll-behavior: smooth;*/
  border-radius: 10%/5%;
  width: 0;
  height: fit-content;
  width: 100%;
  margin: auto;
  animation: transpaye 2s forwards;
  max-width: 35rem;
  /*   &.animpaye {
      animation: transpaye 2s forwards;
  }*/
}
#maincont #reserv > div:first-child #contscrollJs::-webkit-scrollbar {
  border-radius: 8px;
  background-color: whitesmoke;
}
#maincont #reserv > div:first-child #contscrollJs::-webkit-scrollbar-thumb {
  border-radius: 8px;
  background: black;
}
@keyframes transpaye {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
#maincont #reserv > div:first-child #contscrollJs #contpaie {
  position: relative;
  top: 0;
  max-height: 0;
  overflow: clip;
}
#maincont #reserv > div:first-child #contscrollJs #contpaie > div:first-of-type {
  user-select: text;
  position: relative;
  top: 0;
  height: auto;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  color: white;
  border: solid;
  border-top-color: rgba(1, 1, 1, 0.1);
  transition: all 2s;
}
#maincont #reserv > div:first-child #contscrollJs #contpaie > div:first-of-type > div:first-of-type p:first-of-type {
  border-radius: min(2vw, 10px);
  border-top-left-radius: min(2vw, 10px);
  border: 1px solid;
  border-color: rgba(0, 0, 0, 0.2);
  /*  border-top-left-radius: 2vw;
  border-top-right-radius: 2vw;*/
  padding: 4px;
  background-color: white;
  color: green;
  font-weight: normal;
  text-indent: 30px;
}
#maincont #reserv > div:first-child #contscrollJs #contpaie > div:first-of-type > div:first-of-type p:nth-child(2) {
  padding: 2px;
  background-color: orange;
  color: white;
  border-radius: 5px;
}
#maincont #reserv > div:first-child #contscrollJs #mailcont {
  position: relative;
  top: 0;
  text-align: center;
  user-select: text;
  height: fit-content;
}
#maincont #reserv > div:first-child #contscrollJs #mailcont #numcomdeco {
  text-decoration-style: wavy;
  text-underline-offset: 0.1rem;
  text-decoration-line: underline;
  text-decoration-thickness: 0.15rem;
}
#maincont #reserv > div:first-child #contscrollJs #mailcont button {
  user-select: none;
  margin: 1em;
  font-size: 1em;
  border-radius: 25px;
}
#maincont #reserv > div:first-child #avert {
  display: block;
  position: absolute;
  width: 90%;
  max-width: 25rem;
  height: fit-content;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: black solid 1px;
  border-radius: 5px;
  padding: 1em;
  background-color: lightslategrey;
}
#maincont #reserv > div:first-child #avert span {
  display: block;
}
#maincont #reserv > div:first-child #avert button {
  padding-top: 0;
  padding-bottom: 0;
  display: block;
  position: relative;
  line-height: 1em;
  float: right;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/Users/sierr/source/repos/Kioxk/Kioxk/Client/StyleSass/style_sheet.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAGA;AACI;AAAA;AAAA;AAAA;EAGD;EACC;EACA;;;AAMJ;AAAA;AAAA;AAAA;AAIA;EACI;EACA;EACA;;;AAGJ;AAEI;AAAA;;;AAKJ;EACI;EAMA;EACA;EACA,kBAxCI;EAyCJ;;;AAKJ;EACI;;;AAGJ;AAAA;AAAA;AAGA;AAAA;;AAAA;;AAAA;AAMA;AACA;AAGA;EACI;;AAEA;EACI;EACA;;;AAIR;AAAA;AAAA;AAAA;AAAA;AAAA;AAQA;AAAA;AAAA;AAAA;AAAA;AAMA;EACI;EACA;;;AAsCJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAaA;AAAA;AAAA;AAAA;AAIA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AASA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAqBA;EAEI;EAEA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;;AAUA;EAIQ;IACI;AACA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;;AAsCZ;EACI;EACA;EACA;EACA;EACA;EACA;AAOA;AAAA;;AAIJ;EACI;EACA;AACA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAqBR;EACI;EACA;EAEA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;AAEA;EACI;EACA;EACA;EACA;EACA;EArMZ;AAuMY;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAQA;EAEI;EACA;EAEA;AACA;AAAA;EAGA;;AAEA;EAGI;EACA;EACA;;AAIR;EACI;EAGA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;;AAOZ;EACI;EACA;EAEA;EACA;EA9QZ;AAmTY;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AA/BA;EACI;EACA;;AAIJ;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAcR;EAEI;EACA;EACA;EACA;EACA;EAEA;EACA;;AAEA;EACI;EACA;;;AAQxB;EAII;EACA;EACA;EACA;AAIA;AAAA;;AAEA;EACI;EACA;EAEA;EACA;EAGA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAEI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;;AAQR;EACI;EACA;EACA;EACA;AACA;AAAA;AAAA;;AAIA;EACI;EACA;;;AAKZ;EAEI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EAEA,YArhBI;AAwhBJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;;AAsBJ;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAmBA;EACI;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAIA;EACA;AAEA;AAAA;AAAA;AAAA;AA23DA;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAl3DA;EACI;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAGA;EACA;EACA;EACA;EACA;EACA;EAEA;EAYA;AAphBR;AAAA;AAAA;AAAA;;AAuhBQ;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAQJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EASA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AAEA;AAAA;AAAA;EAGA;EACA;;AAKR;EACI;EACA;EAKA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;AAGA;EACI;EACA;EACA;AAGA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAaA;EACI;EACA;EACA;EAEA;EACA;EACA;;AAMJ;EAEI;EAEA;EACA;AAEA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAkBA;EACI;EACA;EACA;EAEA;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;;AASxB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;;AAnyBpB;EACI;EACA;;AAmyBgB;EACI;EACA;EACA;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EAEA;EAEA;EAEA;;AAzzBpB;EACI;EACA;;AAyzBgB;EAEI;EACA;EACA;EACA;;AAYpB;EACI;EACA;EACA;EAIA;EACA;EACA;EACA;EACA;EAGA;EAgBA;EACA;;AAEA;EACI;EACA;EAEA;EACA;EACA;EACA;AAEA;AAAA;EAEA;EACA;EACA;EACA;EAEA;EACA;;AAKJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAOA;EACI;EAEA;EAIA;AACA;AACA;EACA;EACA;EACA;EACA;;AAMA;EACI;EACA;EAKA;EACA;EACA;;AAQI;EACI;;AAEA;EAHJ;AAIQ;;EACA;IACI;IACA;;EAGJ;IACI;IACA;;EAGJ;IACI;;;AAIR;EAEI;IACI;;EAGJ;IACI;;;AAKR;EACI;EACA;EACA;EACA;EACA;EAIA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKJ;EACI;EACA;EACA;EACA;EACA;EAIA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;;AAKZ;AACI;AAAA;AAAA;AAAA;EAOA;AACA;AAAA;;AAIJ;EACI;EACA;EACA;EAGA;EACA;;AAGA;EACI;;AAKR;AACI;EACA;EACA;EACA;EAGA;EAIA;;AAKJ;EACI;;AAS5B;EACI;EACA;EACA;;AAGA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EAEA;EACA;EACA;EAEA;EAIA;EACA;;AAEA;EACI;EACA;AACA;AAAA;AAAA;EAGA;EACA;EACA;EAEA;EACA;EAEA;EACA;EACA;;AAKJ;EACI;;AAEA;EACI;EACA;EAEA;EAGA;EACA;EAEA;;AAEA;EACI;EACA;;AAIJ;EACI;EACA;;AAIA;EACI;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAKR;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAMA;EACI;;AASxB;EACI;EACA;EACA;EACA;EAEA;EACA;EACA;EAGA;EACA;EAKA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EAGA;EAEA;EACA;EAEA;;AAEA;EAyBI;EACA;EACA;EAGA;EAEA;;AA9BA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAeR;EACI;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;;AAIJ;EACI;EACA;EAEA;;AAEA;EACI;EAEA;;AAOZ;EAcI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAKA;EACA;EACA;EACA;AAIA;AAAA;AAAA;AAAA;AAAA;AAAA;;AA/BA;EACI;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;;AA+BJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;AAEA;EACI;EACA;EACA;EACA;EAEA;;AAMR;EACI;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EACA;EACA;EACA;;AAQpB;EACI;EACA;EACA;EACA;EAEA;EACA;;AAKA;EACI;EACA;EACA;EACA;EACA;EACA;AACA;AACA;AACA;;AAKJ;EACI;;AAIJ;EACI;EAEA;EACA;EACA;EACA;EAIA;;AAGJ;EACI;;AAGJ;EACI;;AAGJ;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKA;EACI;EACA;EACA;EACA;EAEA;;AAt/CpB;EACI;EACA;;AAu/CgB;EACI;EACA;EACA;;AAIR;EACI;EACA;EAEA;EACA;;AArgDpB;EACI;EACA;;AAsgDgB;EACI;EACA;EACA;;AAIR;EACI;EACA;;AAjhDpB;EACI;EACA;;AAmhDgB;EACI;EACA;EACA;EACA;EACA;EACA;AAEA;AAAA;AAAA;AAAA;AAAA;AAKA;AAAA;AAAA;AAAA;AAIA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAQA;EACI;EACA;EACA;;AAIJ;AAYI;AAAA;AAAA;;AATA;EACI;AAGA;AAAA;AAAA;;AAeR;AASI;AAAA;AAAA;;AAUJ;EACI;IAII;;EAGJ;IAGI;;;AAIR;EACI;IAEI;;EAGJ;IAEI;;;AAUhC;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EAGA;EAEA;;AAGA;EACI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;;AAIJ;EACI;EACA;EACA;EACA;EACA;;AAIA;EAEI;EACA;AAEA;AAAA;AAEA;AAAA;AAEA;AAAA;;AAKA;EAEI;EACA;;AAMZ;EACI;EACA;EACA;EACA;EACA;;AAGA;AAEI;AAAA;AAEA;AAAA;EAKA;EAEA;;AAOA;AACI;AAAA;AAEA;AAAA;AAAA;EAIA;EACA;;AAOZ;EACI;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EACA;;AAGA;EACI;;AAGA;EACI;;AAIJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKR;EACI;EACA;;AAKZ;EACI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EAKA;EACA;;AAIA;EAEI;EACA;EACA;;AAIA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AACA;EAIA;EACA;EACA;EACA;EAMA;EAEA;EAEA;EACA;AACA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAsCA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAGA;EACA;;AAMR;EACI;EACA;EAEA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIJ;EACI;EACA;EAKA;EACA;EACA;EACA;EACA;EAEA;EACA;EACA;EACA;EAEA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;AACA;AAAA;AAAA;;AAIA;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;;AAIR;EACI;;AAGJ;EAEI;EACA;EACA;EACA;EACA;EAIA;EACA;EACA;EAMA;;AAGA;EACI;EACA;EACA;EAGA;EAUA;AAEA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAkBA;AAAA;AAEA;AAWA;AAAA;AAAA;AAAA;AAIA;;AAbA;EACI;EACA;;AAGJ;EACI;EACA;;AAWJ;EACI;EAGA;;AAEA;EACI;EACA;EACA;EAEA;EAEA;EAEA;;AAIA;AACI;AAAA;AAAA;EAIA;IACI;AACA;;;AAMhB;EAII;;AAIJ;EACI;EACA;EACA;EACA;EACA;EAEA;EAEA;;AAGA;EACI;EACA;EACA;;AAKR;EACI;EACA;EACA;EACA;EAEA;EACA;EACA;;AAQJ;EACI;EAIA;EACA;EACA;EACA;EACA;EACA;EACA;EAIA;EAGA;EACA;EAEA,kBApwEhB;;AAwwEY;EACI;EACA;EACA;EACA;;AAGJ;EAEI;IACI;;EAGJ;IACI;;EAGJ;IACI;;;AAMhB;EACI;EACA;EACA;EAEA;EAGA;AACA;EACA;EAEA;EACA;EAMA;EAGA;EACA;EACA;AAWA;AAAA;AAAA;;AATA;EACI;EACA;;AAGJ;EACI;EACA;;AAMJ;EACI;IAEI;;EAMJ;IAKI;;;AAIR;EACI;EACA;EAIA;EAEA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;AAMI;EACI;EACA;EACA;EACA;AACA;AAAA;EAEA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAMhB;EACI;EACA;EACA;EACA;EAGA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EAEA;EAGA;EACA;;AAOZ;EACI;EACA;EAIA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;;AAEA;EACI;;AAIJ;EAEI;EACA;EACA;EACA;EACA;EACA%22%7D */