@charset "UTF-8";
:root {
  --maincontchild-width-percent: 50;
  --main-height: 100;
}

body, html {
  @import url("https://fonts.googleapis.com/css2?family=Twinkle+Star&display=swap");
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap");
  font-family: "Twinkle Star", cursive;
  background-image: url("/photo/papierinp.jpg");
}

/*@media screen and (max-width:1000px) {
    :root {
        --maincontchild-width-percent: 50;

        #maincont {
            #pretext {
                height: auto;
            }

            #agenda {
                align-self: flex-start;
                margin-top: 3.2rem;

                #calendar {
                    position: relative;
                    transform: translate(-50%,0);

                    > #panneau {                      

                        > div { // Item

                            span { // jours Int
                                font-size: 2.4vw;
                            }

                            > span { // jours Sem
                                font-size: 2.4vw;
                            }
                        }
                    }
                }                

                > div:nth-child(2) {
                    position: relative;
                    transform: translate(-50%,0);
                }
            }
        }
    }
}

@media screen and (max-height:400px) {
    :root {
        --main-height: 100%;
    }
}

@media screen and (max-width:500px) {
    :root {
        --maincontchild-width-percent: 100;
        --main-height: auto;

        #maincont {
            #pretext {
                //  --main-height: 100%;
            }

            #photos {
                //background-color: yellow;

                span {
                    //   position: relative;
                }

                > div:first-of-type {
                    //  background-color: palevioletred;                  
                    top: 0;
                    left: 0;
                    margin-top: 10%;

                    > div {
                        img {

                        }

                        div {
                            iframe {
                                position: relative;
                                bottom: 0;
                            }
                        }
                    }
                }
            }

            #agenda {
                margin-top: 3.2rem;
                background-color: aqua;             
                --calendar-width: calc(var(--child-width)/100 * 90);

                #calendar {
                    transform: translate(-50%,0);

                    > :first-child {
                        div {
                            span {
                                font-size: 1rem;                               
                            }
                        }
                    }

                    > #panneau {                      

                        > div { // Item                           

                            span { // jours Int
                                font-size: 4.8vw;
                            }

                            > span { // jours Sem
                                font-size: 4.8vw;
                            }
                        }
                    }
                }

                #periodes {
                    position: relative;
                }               
            }

            #reserv {
                #form {
                    > :first-child { // EditForm
                        margin-top: 1rem;                        
                    }
                }
            }
        }
    }
}*/
#maincont {
  --maincont-width: 95vw;
  --child-width: calc(var(--maincont-width)/100 * var(--maincontchild-width-percent));
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  flex-wrap: wrap;
  width: var(--maincont-width);
  height: 90vh;
  border-radius: 2.5%/5%;
  background-color: rgba(0, 0, 0, 0.05);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-size: 100% 100%;
  background-position: center;
}
#maincont #bandeaux {
  position: absolute;
  top: -5vh;
  left: -2.5vw;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5)) drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
}
#maincont #bandeaux h1 {
  position: relative;
  top: 0;
  left: 0;
  font-weight: 800;
  color: white;
  font-family: "Montserrat", sans-serif;
  background: #3C3B3F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: calc(100vw - 9px);
  height: 15vh;
  display: flex;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
  text-shadow: 6px 6px 2px rgba(0, 0, 0, 0.5);
  justify-content: center;
}
#maincont #bandeaux div {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - 9px);
  height: 15vh;
}
#maincont #bandeaux div:first-of-type {
  display: none;
  top: 50%;
  left: -2.5vw;
  background-color: orange;
  height: 80vh;
}
#maincont #bandeaux div:nth-of-type(2) {
  position: initial;
  background-color: lightcoral;
  height: 250vh;
  width: 90vw;
  visibility: hidden;
}
#maincont #bandeaux div:last-of-type {
  position: sticky;
  bottom: 0;
  background: #3C3B3F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F);
}
#maincont #bandeaux div:last-of-type:before {
  content: "Siret: 299792458ms Webmaster Freelance sierra-echo@msn.com";
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%, 20%);
  justify-content: space-around;
  height: 80px;
  width: 20rem;
}
#maincont #pretext {
  position: relative;
  width: var(--child-width);
  height: calc(var(--main-height) * 1%);
  z-index: 3;
  transition: transform 0.7s;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #pretext > div:first-child > #contact {
  transform: translate(95%, 40%);
  width: fit-content;
  height: fit-content;
  display: flex;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type {
  width: 4rem;
  height: 4rem;
  position: relative;
  transition: all 0.5s;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type:focus div:first-of-type {
  width: 8rem;
  height: 3.4rem;
  background-color: white;
  transform: translate(50%, 10%);
}
#maincont #pretext > div:first-child > #contact > div:first-of-type:focus {
  width: 12rem;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type div {
  position: absolute;
  background-color: #212120;
  width: 4rem;
  height: 4rem;
  transition: all 0.5s;
  border: solid 2px white;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type div img {
  width: 3.82rem;
  height: 3.82rem;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type div:first-of-type {
  border: solid 1px;
  width: 3.8rem;
  height: 3.8rem;
  text-align: center;
  overflow: hidden;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
  line-height: 300%;
  font-family: "Malgun Gothic";
  border-bottom-right-radius: 5% 10%;
  border-top-right-radius: 5% 10%;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type div:last-of-type:active {
  transition: none;
  background-color: transparent;
  border: none;
}
#maincont #pretext > div:first-child > #contact > div:first-of-type div:last-of-type:active:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: lightseagreen;
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 10%;
  border: solid 4px;
}
#maincont #pretext > div:first-child > #contact > div:last-of-type {
  width: 4rem;
  height: 4rem;
  position: relative;
  margin-left: 1rem;
}
#maincont #pretext > div:first-child > #contact > div:last-of-type:focus div:first-of-type {
  width: 12rem;
  height: 3.4rem;
  background-color: white;
  transform: translate(30%, 10%);
}
#maincont #pretext > div:first-child > #contact > div:last-of-type div {
  position: absolute;
  background-color: cornflowerblue;
  width: 4rem;
  height: 4rem;
  transition: all 0.5s;
}
#maincont #pretext > div:first-child > #contact > div:last-of-type div img {
  width: 3.9rem;
  height: 3.9rem;
}
#maincont #pretext > div:first-child > #contact > div:last-of-type div:first-of-type {
  border: solid 1px;
  width: 3.8rem;
  height: 3.8rem;
  text-align: center;
  overflow: hidden;
  filter: drop-shadow(1px 1px 1.2px rgba(0, 0, 0, 0.5));
  line-height: 300%;
  font-family: "Malgun Gothic";
  border-bottom-right-radius: 5% 10%;
  border-top-right-radius: 5% 10%;
}
#maincont #pretext > div:first-child > #contact > div:last-of-type div:last-of-type:active {
  transition: none;
  background-color: transparent;
}
#maincont #pretext > div:first-child > #contact > div:last-of-type div:last-of-type:active:before {
  content: "";
  z-index: -1;
  position: absolute;
  background-color: lightseagreen;
  width: 3.9rem;
  height: 3.9rem;
  border-radius: 10%;
  border: solid 4px;
}
#maincont #pretext > div:first-child > div:nth-of-type(2) {
  background-color: rgba(0, 0, 0, 0.4);
  filter: drop-shadow(2px 2px 1.3px black);
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-30%, -60%);
}
#maincont #pretext > div:first-child > div:nth-of-type(2) iframe {
  width: 100%;
  border: none;
}
#maincont #pretext > div:first-child > iframe {
  width: 10rem;
  height: 10rem;
  position: relative;
  transform: translate(-7%, -2%);
  border-width: 1vw;
  border-color: black;
  border-radius: 100%;
  z-index: 2;
  background-color: black;
  transition: width 1s, height 1s;
  filter: drop-shadow(3px 3px 3px black);
}
#maincont #pretext > div:first-child > iframe:hover {
  width: 20rem;
  height: 20rem;
}
#maincont #photos {
  --mult_ph-scale: 1;
  --trans-height: 0%;
  --photo-width: var(--child-width);
  --photo-height: calc(var(--main-height) * 1%);
  --cp_ph-y: calc(max(var(--photo-width),var(--max_size)) /2 * var(--mult_ph-scale));
  --max_size: 32rem;
  position: relative;
  width: var(--photo-width);
  height: var(--photo-width);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #photos > div:first-child {
  width: calc(max(var(--photo-width), var(--max_size)) / 2 * var(--mult_ph-scale));
  height: var(--cp_ph-y);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  overflow-x: hidden;
  overflow-y: visible;
  border-radius: 1%;
  border: groove 2px;
  -webkit-backdrop-filter: blur(15px);
  /* assure la compatibilité avec safari */
  backdrop-filter: blur(15px);
  transition: transform 0.7s;
  background-color: red;
  z-index: 1;
}
#maincont #photos > div:first-child .carre {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  border: 0.25rem solid white;
  z-index: 2;
  border-radius: 0 50% 0 0;
  transition: 0.1s all;
}
#maincont #photos > div:first-child .carre:active {
  transform: scale(0.8);
  background-color: mediumspringgreen;
}
#maincont #photos > div:first-child .carre .carre2 {
  border-radius: inherit;
  transition: 1s all;
  border: 0.25rem solid red;
  opacity: 0.5;
  position: inherit;
  top: 0;
  right: 0;
  width: inherit;
  height: inherit;
}
#maincont #photos > div:first-child span:nth-of-type(1) {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  width: 10rem;
  font-weight: 900;
  font-size: 1rem;
  z-index: 1;
  text-align: center;
  top: 5%;
  font-family: "Montserrat", sans-serif;
  color: whitesmoke;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #photos > div:first-child > div:nth-of-type(2) {
  --phmove: 0%;
  --ph_scale-height: -50%;
  top: 50%;
  position: absolute;
  width: calc(max(var(--photo-width), var(--max_size)) / 2 * var(--mult_ph-scale));
  height: fit-content;
  display: flex;
  transition: transform linear 0.5s;
  transform: translate(var(--phmove), var(--ph_scale-height));
  align-items: center;
}
#maincont #photos > div:first-child > div:nth-of-type(2) > div {
  width: calc(max(var(--photo-width), var(--max_size)) / 2 * var(--mult_ph-scale));
  height: fit-content;
}
#maincont #photos > div:first-child > div:nth-of-type(2) > div img {
  width: calc(max(var(--photo-width), var(--max_size)) / 2 * var(--mult_ph-scale));
  max-height: calc(max(var(--photo-width), var(--max_size)) / 2 * 0.5 * var(--mult_ph-scale));
  min-height: 10rem;
  position: relative;
}
#maincont #photos > div:first-child > div:nth-of-type(2) > div .scalePh {
  left: 50%;
  transform: translate(-50%);
  width: calc(var(--photo-width) / 2 * 0.9 * var(--mult_ph-scale));
  height: 2.5rem;
}
#maincont #photos > div:first-child > div:nth-of-type(2) > div > div {
  position: relative;
}
#maincont #photos > div:first-child > div:nth-of-type(2) > div > div iframe {
  width: calc(max(var(--photo-width), var(--max_size)) / 2 * 0.9);
  height: 2.5rem;
  background-color: rgba(255, 255, 255, 0.4);
  border: solid 0.2rem white;
  border-radius: 10%;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
}
#maincont #photos > div:first-child > div:last-child {
  --triremplback: 0%;
  --triremplnext: 0%;
  width: 100%;
  height: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  transform: translate(-50%, -50%);
}
#maincont #photos > div:first-child > div:last-child #mytriback {
  position: absolute;
  width: calc(var(--photo-width) / 2 / 5);
  height: calc(var(--photo-width) / 2 / 5);
  transform-origin: center;
  transform: translateY(-50%) rotateZ(-180deg);
  left: 0;
  top: 50%;
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #photos > div:first-child > div:last-child #mytriback:active {
  transition: transform 0.1s;
  transform: translateY(-50%) rotateZ(-180deg) scale(0.8);
}
#maincont #photos > div:first-child > div:last-child #mytriback #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  transition: clip-path linear 1s;
}
#maincont #photos > div:first-child > div:last-child #mytrinext {
  position: absolute;
  right: 0;
  width: calc(var(--photo-width) / 2 / 5);
  height: calc(var(--photo-width) / 2 / 5);
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
  top: 50%;
  transform: translateY(-50%);
}
#maincont #photos > div:first-child > div:last-child #mytrinext:active {
  transition: transform 0.1s;
  transform: translateY(-50%) scale(0.8);
}
#maincont #photos > div:first-child > div:last-child #mytrinext #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  transition: clip-path 1s;
}
#maincont #hlp {
  width: 32vw;
  height: auto;
}
#maincont #hlp > div:first-child > div:first-child {
  width: max(30vw, 21rem);
  height: auto;
  /* padding-bottom: 3vw;
  padding-top: 2vw;*/
  border: solid 1px;
  border-radius: 5px;
  backdrop-filter: blur(3px);
  box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2);
}
#maincont #hlp > div:first-child > div:first-child > div {
  display: flex;
  /* > div { // Element container
      display: inherit;
      width: 3vw;
      height: 3vw;
      border: solid;
      border-width: calc(max(.4vw,4px));
      border-radius: 10%;
      border-color: green;
      filter: drop-shadow(2px 2px 1.3px black)
  }*/
  /*  span { // tous
      font-weight: bold;
      font-size: 1.2rem;
      margin: auto;
  }

  > span { // text
      font-size: 1rem;
      color: black;
      margin: auto 0;
      margin-left: 1vw;
  }*/
}
#maincont #hlp > div:first-child > div:first-child > div > div {
  width: max(3vw, 2rem);
  height: max(3vw, 2rem);
  background-color: blue;
}
#maincont #hlp > div:first-child > div:first-child > div > div div {
  /* width: fit-content;
  height: fit-content;*/
  /*   display: flex;
  justify-content: center;*/
  position: relative;
  background-color: red;
  /* width: 100%;
  height: 100%;*/
  height: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}
#maincont #hlp > div:first-child > div:first-child > div > div div span {
  /* font-weight: bold;
  font-size: 1.2rem;
  margin: auto;*/
}
#maincont #hlp > div:first-child > div:first-child > div > span {
  position: relative;
  margin: auto 0;
}
#maincont #hlp > div:first-child > div:first-child > div svg {
  width: max(3vw, 2rem);
  height: max(3vw, 2rem);
  filter: drop-shadow(2px 2px 1.3px black);
}
#maincont #payment {
  position: relative;
  top: 25%;
  left: 2%;
  width: 20rem;
  height: fit-content;
}
#maincont #payment > span {
  position: relative;
  left: 12%;
  display: inline-block;
  transform: translateY(-95%);
}
#maincont #payment div:first-of-type {
  display: inline-block;
  width: 5vw;
  height: 5vw;
}
#maincont #payment div:first-of-type img {
  position: relative;
  top: -4rem;
  width: 5vw;
  height: 5vw;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5)) drop-shadow(1px 1px 1px black);
}
#maincont #payment div:nth-of-type(2) {
  display: inline-block;
  width: 5vw;
  height: 5vw;
}
#maincont #payment div:nth-of-type(2) img {
  position: relative;
  top: -1rem;
  width: 5vw;
  height: 5vw;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #payment > div:last-of-type {
  margin: 1rem;
  text-indent: 1rem;
}
#maincont #payment > div:last-of-type span {
  font-size: 90%;
}
#maincont #payment > div:last-of-type span em {
  font-weight: bold;
}
#maincont #payment > div:last-of-type span span {
  display: inline-block;
  margin-top: 2rem;
  margin-left: 6rem;
  width: 80%;
  text-align: center;
  font-style: italic;
}
#maincont #payment > div:last-of-type > div {
  width: auto;
  height: auto;
}
#maincont #agenda {
  --calendar-width: calc(var(--child-width) /2 /100 * 90);
  position: relative;
  width: calc(var(--child-width) / 4 * 3);
  height: calc(var(--main-height) * 1%);
  left: 3vw;
  z-index: 2;
  transition: transform 0.7s;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #agenda > div:first-child {
  width: calc(var(--child-width) / 2);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
#maincont #agenda > div:first-child #calendar {
  width: var(--calendar-width);
  height: var(--calendar-width);
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, 0%);
}
#maincont #agenda > div:first-child #calendar > :first-child {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  border: outset;
  border-width: 3px 5px;
  border-color: cornflowerblue;
  border-radius: 60%/30%;
  background-color: rgba(0, 0, 0, 0.3);
  transform: translate(-50%, -115%);
  display: inline-block;
  color: white;
  filter: drop-shadow(2px 2px 2px black);
}
#maincont #agenda > div:first-child #calendar > :first-child div {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, 0%);
  text-align: center;
  display: inline-block;
}
#maincont #agenda > div:first-child #calendar > :first-child div span {
  padding: 0 1rem;
  display: block;
  font-size: 1rem;
  line-height: 1;
}
#maincont #agenda > div:first-child #calendar > #panneau {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 120%;
  height: var(--calendar-width);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(7, 1fr);
  position: absolute;
  transform: translate(-50%, -50%);
}
#maincont #agenda > div:first-child #calendar > #panneau:hover {
  width: 120%;
}
#maincont #agenda > div:first-child #calendar > #panneau:hover p {
  font-size: 1.8vw;
}
#maincont #agenda > div:first-child #calendar > #panneau > div {
  margin: 1px;
  width: auto;
  /*calc(3.5714vw - 2px);*/
  height: auto;
  /*calc(3.5714vw - 2px);*/
  background-color: transparent;
  display: flex;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(1), #maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(2), #maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(3), #maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(4), #maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(5), #maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(6), #maincont #agenda > div:first-child #calendar > #panneau > div:nth-child(7) {
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 10%;
  border-color: cornflowerblue;
  background-color: rgba(0, 0, 0, 0.4);
}
#maincont #agenda > div:first-child #calendar > #panneau > div > div {
  display: inherit;
  width: 100%;
  height: 100%;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 10%;
  border-color: green;
}
#maincont #agenda > div:first-child #calendar > #panneau > div span {
  display: inherit;
  font-weight: bold;
  font-size: 1.2vw;
  line-height: 1;
  margin: auto;
  /* background-color: green;*/
}
#maincont #agenda > div:first-child #calendar > #panneau > div > span {
  font-weight: 800;
  font-size: 1.2vw;
  line-height: 1;
  color: ghostwhite;
  /*  background-color: lightgreen;*/
}
#maincont #agenda > div:first-child #periodes {
  width: 100%;
  height: auto;
  color: black;
  position: absolute;
  top: 100%;
  left: 0;
}
#maincont #agenda > div:first-child #periodes div {
  color: white;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 2%;
  border-color: white;
  margin-bottom: 2px;
  background: #3C3B3F;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #605C3C, #3C3B3F);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #605C3C, #3C3B3F);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#maincont #agenda > div:first-child #periodes span {
  display: block;
}
#maincont #agenda > div:first-child #periodes > span:last-child {
  font-family: "Montserrat", sans-serif;
  color: white;
  border: solid;
  border-width: max(0.4vw, 4px);
  border-radius: 2.5%;
  border-color: white;
  background: #FF416C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#maincont #agenda > div:first-child #periodes .remPer {
  animation: remPerAnim 0.5s forwards;
}
#maincont #agenda > div:first-child #periodes .ajoutPer {
  animation: ajoutPerAnim 0.5s forwards;
}
@keyframes ajoutPerAnim {
  from {
    transform: scale(0, 0);
  }
  to {
    transform: scale(1, 1);
  }
}
@keyframes remPerAnim {
  from {
    transform: scale(1, 1);
  }
  to {
    transform: scale(0, 0);
  }
}
#maincont #agenda > div:first-child > div:nth-child(2) {
  --triremplnext: 0%;
  --triremplback: 0%;
  --mycall-height: 0%;
  --button-width: calc(var(--calendar-width) / 5);
  z-index: 1;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  transform: translate(-50%, 0);
  display: flex;
  width: fit-content;
}
#maincont #agenda > div:first-child > div:nth-child(2) #mytriback {
  width: var(--button-width);
  height: var(--button-width);
  transform-origin: center;
  transform: translate(-10%) rotateZ(-180deg);
  filter: drop-shadow(-3px -3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #agenda > div:first-child > div:nth-child(2) #mytriback:active {
  transition: transform 0.1s;
  transform: rotateZ(-180deg) scale(0.8);
}
#maincont #agenda > div:first-child > div:nth-child(2) #mytriback #path2416 {
  clip-path: polygon(0% 0%, 100% 0%, 100% var(--triremplback), 0% var(--triremplback));
  transition: clip-path 1s;
}
#maincont #agenda > div:first-child > div:nth-child(2) #mytrinext {
  width: var(--button-width);
  height: var(--button-width);
  transform: translate(10%);
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
}
#maincont #agenda > div:first-child > div:nth-child(2) #mytrinext:active {
  transition: transform 0.1s;
  transform: translate(0) scale(0.8);
}
#maincont #agenda > div:first-child > div:nth-child(2) #mytrinext #path2416 {
  clip-path: polygon(0% var(--triremplnext), 100% var(--triremplnext), 100% 100%, 0% 100%);
  transition: clip-path 1s;
}
#maincont #agenda > div:first-child > div:nth-child(2) div {
  width: var(--button-width);
  height: var(--button-width);
}
#maincont #agenda > div:first-child > div:nth-child(2) div:active {
  transition: transform 0.1s;
  transform: translate(0) scale(0.8);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall {
  width: var(--button-width);
  height: var(--button-width);
  transform-origin: center;
  filter: drop-shadow(-3px 3px 2px rgba(0, 0, 0, 0.7));
  transition: transform 5s;
  margin-left: 30%;
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall #rect1410 {
  height: 0%;
  transform-origin: center;
  transform: rotateZ(180deg);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall #rect881, #maincont #agenda > div:first-child > div:nth-child(2) div #mycall #path1527 {
  transform-origin: center;
  transition: transform 5s;
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall #myPathrect {
  transform-origin: center;
  transform: rotateZ(0deg);
  transition: transform 5s;
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein {
  transform: rotateZ(360deg);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein #rect1410 {
  animation: aug-height 5s linear forwards;
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein #rect881, #maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein #path1527 {
  transform: rotateZ(-360deg);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallplein #myPathrect {
  transform: rotateZ(-360deg);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide {
  transform: rotateZ(-360deg);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide #rect1410 {
  animation: dim-height 5s reverse linear forwards;
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide #rect881, #maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide #path1527 {
  transform: rotateZ(360deg);
}
#maincont #agenda > div:first-child > div:nth-child(2) div #mycall.mycallvide #myPathrect {
  transform: rotateZ(360deg);
}
@keyframes aug-height {
  from {
    height: 20%;
  }
  to {
    height: 80%;
  }
}
@keyframes dim-height {
  from {
    height: 20%;
  }
  to {
    height: 80%;
  }
}
#maincont #reserv {
  position: relative;
  width: calc(var(--child-width) * 2);
  height: calc(var(--main-height) * 1%);
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
  display: flex;
  justify-content: center;
  align-items: center;
}
#maincont #reserv > div:first-child {
  width: 62%;
  height: 90%;
  position: relative;
}
#maincont #reserv > div:first-child #form {
  display: block;
  width: 50%;
  height: 26rem;
  --displres: block;
  --pointres: initial;
  --opres: .9;
  --trans: 0;
  position: relative;
  opacity: 0.8;
}
#maincont #reserv > div:first-child #form::after {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  filter: drop-shadow(1px 2px 1px black);
  background-color: transparent;
  backdrop-filter: blur(1.2px);
  border: solid;
  border-width: 2px;
  pointer-events: var(--pointres);
  opacity: var(--opres);
  transition: 1s opacity, 1s transform;
  font-size: 3rem;
  transform: translate(calc(var(--trans) * 1%));
  background-image: url("/item/res.webp");
  background-repeat: no-repeat;
  background-size: contain;
  background-position-y: 25%;
  background-size: 85%;
  background-position-x: center;
  border-radius: 10%/5%;
}
#maincont #reserv > div:first-child #form > :first-child {
  height: 100%;
  background: #FF416C;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #FF4B2B, #FF416C);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #FF4B2B, #FF416C);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 10%/5%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transform: translate(-50%, 0%);
  font-size: 1.2vw;
  background: #0b0b0b;
  background: linear-gradient(90deg, #0b0b0b 0%, #3c3731 35%, #090a0a 100%);
}
#maincont #reserv > div:first-child #form > :first-child label {
  display: block;
  margin: 0;
}
#maincont #reserv > div:first-child #form > :first-child label span {
  background: #ED213A;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #93291E, #ED213A);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #93291E, #ED213A);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 5px;
  display: block;
  padding: 0.2rem 0;
  color: white;
  background: #0b0b0b;
  background: linear-gradient(90deg, #0b0b0b 0%, #3c3731 35%, #090a0a 100%);
  margin-left: 2vw;
}
#maincont #reserv > div:first-child #form > :first-child label input, #maincont #reserv > div:first-child #form > :first-child label textarea {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  width: 85%;
  border: none;
  border-radius: 5px;
}
#maincont #reserv > div:first-child #form > :first-child label {
  font-size: calc(0.8vh + 0.8vw);
  line-height: calc(0.8vh + 0.8vw);
}
#maincont #reserv > div:first-child #form > :first-child label input, #maincont #reserv > div:first-child #form > :first-child label textarea {
  font-size: 2.2vh;
  line-height: 2.2vh;
  background-image: url("/photo/papierinp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  font-weight: bold;
}
#maincont #reserv > div:first-child #form > :first-child label textarea {
  height: 10vh;
}
#maincont #reserv > div:first-child #form > :first-child label:first-of-type {
  width: 90%;
  position: relative;
  display: inline-block;
  margin-top: 1rem;
  left: 50%;
  transform: translate(-50%);
}
#maincont #reserv > div:first-child #form > :first-child button {
  width: 7rem;
  height: 1.8rem;
  padding: 0;
  margin: 0.4rem 0;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  line-height: 0.9rem;
  border: solid 4px;
  border-radius: 5%/45%;
  background-color: #32de84;
  filter: drop-shadow(4px 4px 2px rgba(0, 0, 0, 0.5));
}
#maincont #reserv > div:first-child > div:nth-child(2) {
  overflow-y: auto;
  height: 26rem;
  width: 51%;
  position: absolute;
  top: 0;
  background-color: orange;
  scroll-behavior: smooth;
  border-radius: 10%/5%;
}
#maincont #reserv > div:first-child > div:nth-child(2) #mailcont {
  position: relative;
  top: 0;
  text-align: center;
  background-color: palevioletred;
  font-size: 2rem;
}
#maincont #reserv > div:first-child > div:nth-child(2) #mailcont div {
  font-size: initial;
  font-weight: initial;
  line-height: initial;
}
#maincont #reserv > div:first-child > div:nth-child(2) #mailcont button {
  display: inline-block;
  margin: auto;
  margin-top: 4px;
  margin-bottom: 4px;
}
#maincont #reserv > div:first-child > div:nth-child(2) #contpaie {
  position: relative;
  top: 0;
}
#maincont #reserv > div:first-child > div:nth-child(2) #contpaie > div:first-of-type {
  position: relative;
  color: white;
  top: 0;
  padding-top: 0.6rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
#maincont #reserv > div:first-child > div:nth-child(2) #contpaie > div:first-of-type > div:first-of-type {
  width: 100% !important;
  background-color: yellow;
}
#maincont #reserv > div:first-child #avert {
  background-color: yellow;
  position: absolute;
  top: 47%;
  left: 53%;
  width: 45%;
  font-size: 80%;
}

/*# sourceMappingURL=data:application/json;charset=utf-8,%7B%22version%22:3,%22sourceRoot%22:%22%22,%22sources%22:%5B%22file:///C:/Users/sierr/source/repos/Kioxk/Kioxk/Client/Style/StyleSheet.scss%22%5D,%22names%22:%5B%5D,%22mappings%22:%22;AAAC;EACG;EACA;;;AAGJ;EACY;EACA;EACR;EACA;;;AAKJ;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;;AAAA;;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AA0LA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EA1BJ;;AA8BI;EACI;EACA;EACA;EACA;EACA;EACA;EACA;AAAqB;EACrB;AAAiE;EACjE;AAAyD;EACzD;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;AAAqB;EACrB;AAAiE;EACjE;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKZ;EACI;EACA;EACA;EACA;EACA;EAjGJ;;AAwGQ;EAEI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;;AAGJ;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAKA;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAMhB;EACI;EACA;EACA;EAEA;;AAEA;EAEI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAIA;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAOpB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAKR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EA5RJ;;AAiSI;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;AAAqC;EACrC;EACA;EAEA;EACA;;AAhVR;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAyTA;EAEI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EAhUZ;;AAqUQ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EAEI;EACA;;AAGA;EACI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAGJ;EACI;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAMhB;EACI;EACA;EACA;EACA;EA9aZ;EACA;EACA;EAIA;EACA;EACA;EAyaY;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAjbhB;EACI;EACA;;AAmbY;EACI;EACA;;AAIR;EACI;EACA;EACA;EACA;EACA;EAEA;EACA;;AAnchB;EACI;EACA;;AAocY;EACI;EACA;;AAOpB;EACI;EACA;;AAMI;EAEI;EACA;AACA;AAAA;EAEA;EACA;EACA;EACA;;AAGA;EACI;AAoDA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;AAUA;AAAA;AAAA;AAAA;AAAA;;AAAA;AAAA;AAAA;AAAA;AAAA;AAAA;;AA3DA;EACI;EACA;EACA;;AAGA;AACI;AAAA;AAEA;AAAA;EAEA;EACA;AACA;AAAA;EAEA;EAEA;EACA;EACA;;AAGA;AAEI;AAAA;AAAA;;AASZ;EAEI;EAEA;;AAMJ;EACI;EACA;EACA;;AA8BpB;EACI;EACA;EACA;EACA;EACA;;AAGA;EAEI;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EAviBZ;;AA6iBI;EACI;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EAvjBZ;;AA6jBI;EACI;EACA;;AAEA;EACI;;AAEA;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;;AAIR;EACI;EACA;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EAhmBJ;;AAomBI;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EA/pBZ;EACA;EACA;EAIA;EACA;EACA;EA0pBY;;AAGA;EArqBZ;EACA;EACA;EAqqBgB;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EAjrBhB;EACA;EACA;EAIA;EACA;EACA;EA4qBoB;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;;AAMZ;EAnsBZ;EACA;EACA;EAIA;EACA;EACA;EA8rBgB;EACA;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;;AAGJ;EACI;;AAGJ;EACI;EACA;AAAa;EACb;AAAc;EACd;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;EACA;AACA;;AAGJ;EACI;EACA;EACA;EACA;AACA;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;AAAqB;EACrB;AAAiE;EACjE;AAAyD;;AAG7D;EACI;;AAGJ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;AAAqB;EACrB;AAAiE;EACjE;AAAyD;;AAG7D;EACI;;AAGJ;EACI;;AAGJ;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AAKZ;EACI;EACA;EACA;EACA;EACA;EA50BZ;EACA;EACA;EAIA;EACA;EACA;EAu0BY;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EAGA;;AA90BhB;EACI;EACA;;AA80BY;EACI;EACA;;AAIR;EACI;EACA;EAGA;EACA;;AA51BhB;EACI;EACA;;AA41BY;EACI;EACA;;AAIR;EAEI;EACA;;AAv2BhB;EACI;EACA;;AAw2BY;EACI;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;;AAGJ;EACI;EACA;EACA;;AAGJ;EACI;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAIR;EACI;;AAEA;EACI;;AAGJ;EACI;;AAGJ;EACI;;AAIR;EACI;IACI;;EAGJ;IACI;;;AAIR;EACI;IACI;;EAGJ;IACI;;;AAS5B;EACI;EACA;EACA;EAz5BJ;EA45BI;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EAEA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;EACA;AAAqB;EACrB;AAAiE;EACjE;AAAyD;EACzD;EAlgChB;EACA;EACA;EAkgCgB;EACA;EACA;EACA;;AAEA;EACI;EACA;;AAGA;EACI;AAAqB;EACrB;AAAiE;EACjE;AAAyD;EACzD;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EA3hCpB;EACA;EACA;EA2hCwB;EACA;EACA;EACA;;AAKR;EAEI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;EACA;;AAGJ;EACI;;AAWR;EACI;EACA;EACA;EACA;EACA;EACA;;AAMJ;EACI;EACA;EACA;EACA;EAhlCpB;EACA;EACA;EAglCoB;EACA;EACA;EACA;EACA;;AAKZ;EACI;EACA;EACA;EACA;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;;AAEA;EACI;EACA;EACA;;AAGJ;EACI;EACA;EACA;EACA;;AAIR;EACI;EACA;;AAEA;EACI;EACA;EACA;EACA;EACA;EACA;;AAGA;EACI;EACA;;AAMhB;EACI;EACA;EACA;EACA;EACA;EACA%22%7D */