
<span>
    Nous travaillons avec les moyens de paiements suivants,
    veuillez nous contacter si vous n'y etes pas affilié.

</span>

<div>
    <a target="_blank" href="https://www.paylib.fr">
        <img href="https://www.paylib.fr" src="/item/paylib.svg" />
    </a>

</div>

<div>
    <a target="_blank" href="https://www.lyf.eu/fr/">
        <img src="/item/lyf.png" />
    </a>

</div>

<div>
    <span>
        Paylib ou lyf sont deux applications de virement intégreés nativement
        à l'application officielle de la
        <em> majorité des grandes banques françaises et européennes.</em> 
        <span>
        " Il suffit de chercher l'onglet paylib ou lyf, renseigner le
        montant et adresser le transfert grâce à un simple numéro de téléphone! "
        </span>

    </span>

</div>