@inject IJSRuntime js

<div>
    <iframe id="myframe" frameborder="0" scrolling="no" onload="resizeIframe()" src="photo/legend/bienvenue.html" />
@*    <iframe id="myframe" frameborder="0" scrolling="no" onload="resizeIframe()" src="https://www.milkomeda.re/photo/legend/bienvenue.html" />
*@
</div>

@code {
}
