@inject IJSRuntime js

<div id="contact">
    <div tabindex="0">
        <div>
            0692121212
        </div>
        <div>
            <img src="/photo/tel.png" />
        </div>
    </div>

    <div tabindex="0">
        <div>
            location@gmail.com
        </div>
        <div>
            <img src="/photo/mail.png" />
        </div>
    </div>
</div>

<div>
    <iframe id="myframe" frameborder="0" scrolling="no" onload='resizeIframe(this)' src="photo/legend/bienvenue.html" />
</div>

<iframe style="" allowfullscreen="" loading="lazy" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d53828.30874532209!2d55.34774300000001!3d-21.285769!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2182a2de227623d5%3A0xf5a8ae8aee0ece4b!2zbCfDiXRhbmctU2Fsw6kgbGVzIEJhaW5zLCBMJ8OJdGFuZy1TYWzDqSA5NzQyNywgTGEgUsOpdW5pb24!5e1!3m2!1sfr!2sfr!4v1639077977875!5m2!1sfr!2sfr" />

@code {
}
